workflow-step-function/confluence-sfn-workflow.asl.json
{
    "Comment": "Confluence Workflow",
    "StartAt": "Init Workflow Choice",
    "States": {
        "Init Workflow Choice": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.reach_subset_file",
                    "IsPresent": true,
                    "Next": "Init Workflow Reach Subset"
                },
                {
                    "Variable": "$.reach_subset_file",
                    "IsPresent": false,
                    "Next": "Init Workflow Global"
                }
            ]
        },
        "Init Workflow Reach Subset": {
            "Type": "Task",
            "Resource": "arn:aws:states:::batch:submitJob.sync",
            "ResultPath": null,
            "Parameters": {
                "JobName.$": "States.Format('confluence-init-workflow-subset-{}',$.version)",
                "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-init-workflow",
                "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-init-workflow",
                "PropagateTags": true,
                "Tags": {
                    "job.$": "States.Format('confluence-init-workflow-subset-{}',$.version)"
                },
                "ContainerOverrides": {
                    "Command": [
                        "-p",
                        "confluence-dev1",
                        "-r",
                        "Ref::reachsubsetfile"
                    ]
                },
                "Parameters": {
                    "reachsubsetfile.$": "$.reach_subset_file"
                }
            },
            "Next": "Setfinder Reach Subset"
        },
        "Init Workflow Global": {
            "Type": "Task",
            "Resource": "arn:aws:states:::batch:submitJob.sync",
            "ResultPath": null,
            "Parameters": {
                "JobName.$": "States.Format('confluence-init-workflow-global-{}',$.version)",
                "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-init-workflow",
                "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-init-workflow",
                "PropagateTags": true,
                "Tags": {
                    "job.$": "States.Format('confluence-init-workflow-global-{}',$.version)"
                },
                "ContainerOverrides": {
                    "Command": [
                        "-p",
                        "confluence-dev1"
                    ]
                }
            },
            "Next": "Setfinder Global"
        },
        "Setfinder Reach Subset": {
            "Type": "Map",
            "ToleratedFailurePercentagePath": "$.tolerated_failure_percentage",
            "ResultPath": null,
            "ItemSelector": {
                "context_index.$": "$$.Map.Item.Index",
                "context_value.$": "$$.Map.Item.Value",
                "reach_subset_file.$": "$.reach_subset_file",
                "version.$": "$.version"
            },
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "DISTRIBUTED",
                    "ExecutionType": "STANDARD"
                },
                "StartAt": "Batch SubmitJob Setfinder Reach Subset",
                "States": {
                    "Batch SubmitJob Setfinder Reach Subset": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                        "Parameters": {
                            "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-setfinder",
                            "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-setfinder",
                            "PropagateTags": true,
                            "Tags": {
                                "job.$": "States.Format('confluence-setfinder-subset-{}-{}', $.version, $.context_index)"
                            },
                            "ContainerOverrides": {
                                "Command": [
                                    "-i",
                                    "Ref::index",
                                    "-a",
                                    "MetroMan",
                                    "HiVDI",
                                    "SIC",
                                    "NeoBAM",
                                    "-n",
                                    "/data",
                                    "-o",
                                    "/data",
                                    "-s",
                                    "16",
                                    "-e",
                                    "-c",
                                    "continent-setfinder.json",
                                    "-r",
                                    "Ref::reachsubsetfile"
                                ]
                            },
                            "JobName.$": "States.Format('confluence-setfinder-subset-{}-{}', $.version, $.context_index)",
                            "Parameters": {
                                "reachsubsetfile.$": "$.reach_subset_file",
                                "index.$": "States.Format('{}', $.context_index)"
                            }
                        },
                        "End": true
                    }
                }
            },
            "ItemReader": {
                "Resource": "arn:aws:states:::s3:getObject",
                "ReaderConfig": {
                    "InputType": "JSON"
                },
                "Parameters": {
                    "Bucket": "${prefix}-json",
                    "Key": "continent-setfinder.json"
                }
            },
            "ResultWriter": {
                "Resource": "arn:aws:states:::s3:putObject",
                "Parameters": {
                    "Bucket": "${prefix}-map-state",
                    "Prefix": "setfinder"
                }
            },
            "Label": "setfinder_reach_subset",
            "Next": "Combine Data Reach Subset"
        },
        "Setfinder Subset Not Expanded": {
            "Type": "Map",
            "ToleratedFailurePercentagePath": "$.tolerated_failure_percentage",
            "ResultPath": null,
            "ItemSelector": {
                "context_index.$": "$$.Map.Item.Index",
                "context_value.$": "$$.Map.Item.Value",
                "version.$": "$.version"
            },
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "DISTRIBUTED",
                    "ExecutionType": "STANDARD"
                },
                "StartAt": "Batch SubmitJob Setfinder Reach Subset Not Expanded",
                "States": {
                    "Batch SubmitJob Setfinder Reach Subset Not Expanded": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                        "Parameters": {
                            "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-setfinder",
                            "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-setfinder",
                            "PropagateTags": true,
                            "Tags": {
                                "job.$": "States.Format('confluence-setfinder-subset-not-expanded-{}-{}', $.version, $.context_index)"
                            },
                            "ContainerOverrides": {
                                "Command": [
                                    "-i",
                                    "Ref::index",
                                    "-a",
                                    "MetroMan",
                                    "HiVDI",
                                    "SIC",
                                    "NeoBAM",
                                    "-n",
                                    "/data",
                                    "-o",
                                    "/data",
                                    "-s",
                                    "16",
                                    "-c",
                                    "continent-setfinder.json"
                                ]
                            },
                            "JobName.$": "States.Format('confluence-setfinder-subset-not-expanded-{}-{}', $.version, $.context_index)",
                            "Parameters": {
                                "index.$": "States.Format('{}', $.context_index)"
                            }
                        },
                        "End": true
                    }
                }
            },
            "ItemReader": {
                "Resource": "arn:aws:states:::s3:getObject",
                "ReaderConfig": {
                    "InputType": "JSON"
                },
                "Parameters": {
                    "Bucket": "${prefix}-json",
                    "Key": "continent-setfinder.json"
                }
            },
            "ResultWriter": {
                "Resource": "arn:aws:states:::s3:putObject",
                "Parameters": {
                    "Bucket": "${prefix}-map-state",
                    "Prefix": "setfinder"
                }
            },
            "Label": "setfinder_reach_subset_not_expanded",
            "Next": "Combine Data Global"
        },
        "Setfinder Global": {
            "Type": "Map",
            "ToleratedFailurePercentagePath": "$.tolerated_failure_percentage",
            "ResultPath": null,
            "ItemSelector": {
                "context_index.$": "$$.Map.Item.Index",
                "context_value.$": "$$.Map.Item.Value",
                "version.$": "$.version"
            },
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "DISTRIBUTED",
                    "ExecutionType": "STANDARD"
                },
                "StartAt": "Batch SubmitJob Setfinder Global",
                "States": {
                    "Batch SubmitJob Setfinder Global": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                        "Parameters": {
                            "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-setfinder",
                            "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-setfinder",
                            "PropagateTags": true,
                            "Tags": {
                                "job.$": "States.Format('confluence-setfinder-global-{}-{}', $.version, $.context_index)"
                            },
                            "ContainerOverrides": {
                                "Command": [
                                    "-i",
                                    "Ref::index",
                                    "-a",
                                    "MetroMan",
                                    "HiVDI",
                                    "SIC",
                                    "NeoBAM",
                                    "-n",
                                    "/data",
                                    "-o",
                                    "/data",
                                    "-s",
                                    "16",
                                    "-g",
                                    "-c",
                                    "continent-setfinder.json"
                                ]
                            },
                            "JobName.$": "States.Format('confluence-setfinder-global-{}-{}', $.version, $.context_index)",
                            "Parameters": {
                                "index.$": "States.Format('{}', $.context_index)"
                            }
                        },
                        "End": true
                    }
                }
            },
            "ItemReader": {
                "Resource": "arn:aws:states:::s3:getObject",
                "ReaderConfig": {
                    "InputType": "JSON"
                },
                "Parameters": {
                    "Bucket": "${prefix}-json",
                    "Key": "continent-setfinder.json"
                }
            },
            "ResultWriter": {
                "Resource": "arn:aws:states:::s3:putObject",
                "Parameters": {
                    "Bucket": "${prefix}-map-state",
                    "Prefix": "setfinder"
                }
            },
            "Label": "setfinder_global",
            "Next": "Combine Data Global"
        },
        "Combine Data Reach Subset": {
            "Type": "Task",
            "Resource": "arn:aws:states:::batch:submitJob.sync",
            "ResultPath": null,
            "Parameters": {
                "JobName.$": "States.Format('confluence-combine-data-subset-{}',$.version)",
                "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-combine-data",
                "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-combine-data",
                "PropagateTags": true,
                "Tags": {
                    "job.$": "States.Format('confluence-combine-data-subset-{}',$.version)"
                },
                "ContainerOverrides": {
                    "Command": [
                        "-d",
                        "/data",
                        "-u",
                        "${prefix}-json",
                        "-u",
                        "${prefix}-json",
                        "-e",
                        "-s",
                        "16"
                    ]
                }
            },
            "Next": "Input Reach Subset"
        },
        "Combine Data Global": {
            "Type": "Task",
            "Resource": "arn:aws:states:::batch:submitJob.sync",
            "ResultPath": null,
            "Parameters": {
                "JobName.$": "States.Format('confluence-combine-data-global-{}',$.version)",
                "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-combine-data",
                "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-combine-data",
                "PropagateTags": true,
                "Tags": {
                    "job.$": "States.Format('confluence-combine-data-global-{}',$.version)"
                },
                "ContainerOverrides": {
                    "Command": [
                        "-c",
                        "continent.json",
                        "-d",
                        "/data",
                        "-u",
                        "${prefix}-json",
                        "-s",
                        "16"
                    ]
                }
            },
            "Next": "Combine Data Global Choice"
        },
        "Input Reach Subset": {
            "Type": "Map",
            "ToleratedFailurePercentagePath": "$.tolerated_failure_percentage",
            "ResultPath": null,
            "ItemSelector": {
                "context_index.$": "$$.Map.Item.Index",
                "context_value.$": "$$.Map.Item.Value",
                "version.$": "$.version"
            },
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "DISTRIBUTED",
                    "ExecutionType": "STANDARD"
                },
                "StartAt": "Batch SubmitJob Input Reach Subset",
                "States": {
                    "Batch SubmitJob Input Reach Subset": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                        "Parameters": {
                            "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-input",
                            "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-input",
                            "PropagateTags": true,
                            "Tags": {
                                "job.$": "States.Format('confluence-input-subset-{}-{}',$.version, $.context_value.reach_id)"
                            },
                            "ContainerOverrides": {
                                "Command": [
                                    "-i",
                                    "Ref::index",
                                    "-r",
                                    "/mnt/data/expanded_reaches_of_interest.json",
                                    "-o",
                                    "/mnt/data/swot",
                                    "-s",
                                    "/mnt/data/sword"
                                ]
                            },
                            "JobName.$": "States.Format('confluence-input-subset-{}-{}',$.version, $.context_value.reach_id)",
                            "Parameters": {
                                "index.$": "States.Format('{}',$.context_index)"
                            }
                        },
                        "End": true
                    }
                }
            },
            "ItemReader": {
                "Resource": "arn:aws:states:::s3:getObject",
                "ReaderConfig": {
                    "InputType": "JSON"
                },
                "Parameters": {
                    "Bucket": "${prefix}-json",
                    "Key": "expanded_reaches_of_interest.json"
                }
            },
            "ResultWriter": {
                "Resource": "arn:aws:states:::s3:putObject",
                "Parameters": {
                    "Bucket": "${prefix}-map-state",
                    "Prefix": "input"
                }
            },
            "Label": "input_reach_subset",
            "Next": "Setfinder Subset Not Expanded",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Restart Subset",
                    "ResultPath": "$.error"
                }
            ]
        },
        "Input Global": {
            "Type": "Map",
            "ToleratedFailurePercentagePath": "$.tolerated_failure_percentage",
            "ResultPath": null,
            "ItemSelector": {
                "context_index.$": "$$.Map.Item.Index",
                "context_value.$": "$$.Map.Item.Value",
                "version.$": "$.version"
            },
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "DISTRIBUTED",
                    "ExecutionType": "STANDARD"
                },
                "StartAt": "Batch SubmitJob Input Global",
                "States": {
                    "Batch SubmitJob Input Global": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                        "Parameters": {
                            "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-input",
                            "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-input",
                            "PropagateTags": true,
                            "Tags": {
                                "job.$": "States.Format('confluence-input-global-{}-{}',$.version, $.context_value.reach_id)"
                            },
                            "ContainerOverrides": {
                                "Command": [
                                    "-i",
                                    "Ref::index",
                                    "-r",
                                    "/mnt/data/reaches.json",
                                    "-o",
                                    "/mnt/data/swot",
                                    "-s",
                                    "/mnt/data/sword"
                                ]
                            },
                            "JobName.$": "States.Format('confluence-input-global-{}-{}',$.version, $.context_value.reach_id)",
                            "Parameters": {
                                "index.$": "States.Format('{}',$.context_index)"
                            }
                        },
                        "End": true
                    }
                }
            },
            "ItemReader": {
                "Resource": "arn:aws:states:::s3:getObject",
                "ReaderConfig": {
                    "InputType": "JSON"
                },
                "Parameters": {
                    "Bucket": "${prefix}-json",
                    "Key": "reaches.json"
                }
            },
            "ResultWriter": {
                "Resource": "arn:aws:states:::s3:putObject",
                "Parameters": {
                    "Bucket": "${prefix}-map-state",
                    "Prefix": "input"
                }
            },
            "Label": "input_global",
            "Next": "Prediagnostics",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Restart",
                    "ResultPath": "$.error"
                }
            ]
        },
        "Combine Data Global Choice": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.reach_subset_file",
                    "IsPresent": true,
                    "Next": "Prediagnostics"
                },
                {
                    "Variable": "$.reach_subset_file",
                    "IsPresent": false,
                    "Next": "Input Global"
                }
            ]
        },
        "Prediagnostics": {
            "Type": "Map",
            "ToleratedFailurePercentagePath": "$.tolerated_failure_percentage",
            "ResultPath": null,
            "ItemSelector": {
                "context_index.$": "$$.Map.Item.Index",
                "context_value.$": "$$.Map.Item.Value",
                "version.$": "$.version"
            },
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "DISTRIBUTED",
                    "ExecutionType": "STANDARD"
                },
                "StartAt": "Batch SubmitJob Prediagnostics",
                "States": {
                    "Batch SubmitJob Prediagnostics": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                        "Parameters": {
                            "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-prediagnostics",
                            "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-prediagnostics",
                            "PropagateTags": true,
                            "Tags": {
                                "job.$": "States.Format('confluence-prediagnostics-{}-{}',$.version, $.context_value.reach_id)"
                            },
                            "ContainerOverrides": {
                                "Command": [
                                    "Ref::index",
                                    "reaches.json"
                                ]
                            },
                            "JobName.$": "States.Format('confluence-prediagnostics-{}-{}',$.version, $.context_value.reach_id)",
                            "Parameters": {
                                "index.$": "States.Format('{}',$.context_index)"
                            }
                        },
                        "End": true
                    }
                }
            },
            "ItemReader": {
                "Resource": "arn:aws:states:::s3:getObject",
                "ReaderConfig": {
                    "InputType": "JSON"
                },
                "Parameters": {
                    "Bucket": "${prefix}-json",
                    "Key": "reaches.json"
                }
            },
            "ResultWriter": {
                "Resource": "arn:aws:states:::s3:putObject",
                "Parameters": {
                    "Bucket": "${prefix}-map-state",
                    "Prefix": "prediagnostics"
                }
            },
            "Label": "prediagnostics",
            "Next": "Priors Choice",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Restart",
                    "ResultPath": "$.error"
                }
            ]
        },
        "Priors Choice": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.run_type",
                    "StringEquals": "constrained",
                    "Next": "Priors Constrained"
                },
                {
                    "Variable": "$.run_type",
                    "StringEquals": "unconstrained",
                    "Next": "Priors Unconstrained"
                }
            ]
        },
        "Priors Constrained": {
            "Type": "Map",
            "ToleratedFailurePercentagePath": "$.tolerated_failure_percentage",
            "ResultPath": null,
            "ItemSelector": {
                "context_index.$": "$$.Map.Item.Index",
                "context_value.$": "$$.Map.Item.Value",
                "version.$": "$.version"
            },
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "DISTRIBUTED",
                    "ExecutionType": "STANDARD"
                },
                "StartAt": "Batch SubmitJob Priors Constrained",
                "States": {
                    "Batch SubmitJob Priors Constrained": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                        "Parameters": {
                            "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-priors",
                            "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-priors",
                            "PropagateTags": true,
                            "Tags": {
                                "job.$": "States.Format('confluence-priors-constrained-{}-{}',$.version, $.context_index)"
                            },
                            "ContainerOverrides": {
                                "Command": [
                                    "-i",
                                    "Ref::index",
                                    "-r",
                                    "constrained",
                                    "-p",
                                    "usgs",
                                    "riggs",
                                    "gbpriors",
                                    "-g",
                                    "-s",
                                    "Ref::sos_bucket"
                                ]
                            },
                            "JobName.$": "States.Format('confluence-priors-constrained-{}-{}',$.version, $.context_index)",
                            "Parameters": {
                                "index.$": "States.Format('{}',$.context_index)",
                                "sos_bucket": "${prefix}-sos"
                            }
                        },
                        "End": true
                    }
                }
            },
            "ItemReader": {
                "Resource": "arn:aws:states:::s3:getObject",
                "ReaderConfig": {
                    "InputType": "JSON"
                },
                "Parameters": {
                    "Bucket": "${prefix}-json",
                    "Key": "continent.json"
                }
            },
            "ResultWriter": {
                "Resource": "arn:aws:states:::s3:putObject",
                "Parameters": {
                    "Bucket": "${prefix}-map-state",
                    "Prefix": "priors"
                }
            },
            "Label": "priorsConstrained",
            "Next": "FLPE"
        },
        "Priors Unconstrained": {
            "Type": "Map",
            "ToleratedFailurePercentagePath": "$.tolerated_failure_percentage",
            "ResultPath": null,
            "ItemSelector": {
                "context_index.$": "$$.Map.Item.Index",
                "context_value.$": "$$.Map.Item.Value",
                "version.$": "$.version"
            },
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "DISTRIBUTED",
                    "ExecutionType": "STANDARD"
                },
                "StartAt": "Batch SubmitJob Priors Unconstrained",
                "States": {
                    "Batch SubmitJob Priors Unconstrained": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                        "Parameters": {
                            "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-priors",
                            "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-priors",
                            "PropagateTags": true,
                            "Tags": {
                                "job.$": "States.Format('confluence-priors-unconstrained-{}-{}',$.version, $.context_index)"
                            },
                            "ContainerOverrides": {
                                "Command": [
                                    "-i",
                                    "Ref::index",
                                    "-r",
                                    "unconstrained",
                                    "-p",
                                    "usgs",
                                    "riggs",
                                    "gbpriors",
                                    "-g",
                                    "-s",
                                    "Ref::sos_bucket"
                                ]
                            },
                            "JobName.$": "States.Format('confluence-priors-unconstrained-{}-{}',$.version, $.context_index)",
                            "Parameters": {
                                "index.$": "States.Format('{}',$.context_index)",
                                "sos_bucket": "${prefix}-sos"
                            }
                        },
                        "End": true
                    }
                }
            },
            "ItemReader": {
                "Resource": "arn:aws:states:::s3:getObject",
                "ReaderConfig": {
                    "InputType": "JSON"
                },
                "Parameters": {
                    "Bucket": "${prefix}-json",
                    "Key": "continent.json"
                }
            },
            "ResultWriter": {
                "Resource": "arn:aws:states:::s3:putObject",
                "Parameters": {
                    "Bucket": "${prefix}-map-state",
                    "Prefix": "priors"
                }
            },
            "Label": "priorsUnconstrained",
            "Next": "FLPE"
        },
        "FLPE": {
            "Type": "Parallel",
            "ResultPath": null,
            "Branches": [
                {
                    "StartAt": "Hivdi",
                    "States": {
                        "Hivdi": {
                            "Type": "Map",
                            "ToleratedFailurePercentagePath": "$.tolerated_failure_percentage",
                            "ResultPath": null,
                            "ItemSelector": {
                                "context_index.$": "$$.Map.Item.Index",
                                "context_value.$": "$$.Map.Item.Value",
                                "version.$": "$.version"
                            },
                            "ItemProcessor": {
                                "ProcessorConfig": {
                                    "Mode": "DISTRIBUTED",
                                    "ExecutionType": "STANDARD"
                                },
                                "StartAt": "Batch SubmitJob Hivdi",
                                "States": {
                                    "Batch SubmitJob Hivdi": {
                                        "Type": "Task",
                                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                                        "Parameters": {
                                            "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-hivdi",
                                            "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-flpe",
                                            "PropagateTags": true,
                                            "Tags": {
                                                "job.$": "States.Format('confluence-hivdi-{}-{}',$.version, $.context_value[0].reach_id)"
                                            },
                                            "ContainerOverrides": {
                                                "Command": [
                                                    "-i",
                                                    "Ref::index",
                                                    "-reachjson",
                                                    "reaches.json"
                                                ]
                                            },
                                            "JobName.$": "States.Format('confluence-hivdi-{}-{}',$.version, $.context_value[0].reach_id)",
                                            "Parameters": {
                                                "index.$": "States.Format('{}',$.context_index)"
                                            }
                                        },
                                        "End": true
                                    }
                                }
                            },
                            "ItemReader": {
                                "Resource": "arn:aws:states:::s3:getObject",
                                "ReaderConfig": {
                                    "InputType": "JSON"
                                },
                                "Parameters": {
                                    "Bucket": "${prefix}-json",
                                    "Key": "hivdisets.json"
                                }
                            },
                            "ResultWriter": {
                                "Resource": "arn:aws:states:::s3:putObject",
                                "Parameters": {
                                    "Bucket": "${prefix}-map-state",
                                    "Prefix": "hivdi"
                                }
                            },
                            "Label": "hivdi",
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "Metroman",
                    "States": {
                        "Metroman": {
                            "Type": "Map",
                            "ToleratedFailurePercentagePath": "$.tolerated_failure_percentage",
                            "ResultPath": null,
                            "ItemSelector": {
                                "context_index.$": "$$.Map.Item.Index",
                                "context_value.$": "$$.Map.Item.Value",
                                "version.$": "$.version",
                                "run_type.$": "$.run_type"
                            },
                            "ItemProcessor": {
                                "ProcessorConfig": {
                                    "Mode": "DISTRIBUTED",
                                    "ExecutionType": "STANDARD"
                                },
                                "StartAt": "Batch SubmitJob Metroman",
                                "States": {
                                    "Batch SubmitJob Metroman": {
                                        "Type": "Task",
                                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                                        "Parameters": {
                                            "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-metroman",
                                            "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-flpe",
                                            "PropagateTags": true,
                                            "Tags": {
                                                "job.$": "States.Format('confluence-metroman-{}-{}',$.version, $.context_value[0].reach_id)"
                                            },
                                            "ContainerOverrides": {
                                                "Command": [
                                                    "-i",
                                                    "Ref::index",
                                                    "-r",
                                                    "metrosets.json",
                                                    "-v",
                                                    "-s",
                                                    "Ref::bucket_key"
                                                ]
                                            },
                                            "JobName.$": "States.Format('confluence-metroman-{}-{}',$.version, $.context_value[0].reach_id)",
                                            "Parameters": {
                                                "index.$": "States.Format('{}',$.context_index)",
                                                "bucket_key.$": "States.Format('${prefix}-sos/{}/{}', $.run_type, $.version)"
                                            }
                                        },
                                        "End": true
                                    }
                                }
                            },
                            "ItemReader": {
                                "Resource": "arn:aws:states:::s3:getObject",
                                "ReaderConfig": {
                                    "InputType": "JSON"
                                },
                                "Parameters": {
                                    "Bucket": "${prefix}-json",
                                    "Key": "metrosets.json"
                                }
                            },
                            "ResultWriter": {
                                "Resource": "arn:aws:states:::s3:putObject",
                                "Parameters": {
                                    "Bucket": "${prefix}-map-state",
                                    "Prefix": "metroman"
                                }
                            },
                            "Label": "metroman",
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "Momma",
                    "States": {
                        "Momma": {
                            "Type": "Map",
                            "ToleratedFailurePercentagePath": "$.tolerated_failure_percentage",
                            "ResultPath": null,
                            "ItemSelector": {
                                "context_index.$": "$$.Map.Item.Index",
                                "context_value.$": "$$.Map.Item.Value",
                                "version.$": "$.version",
                                "run_type.$": "$.run_type"
                            },
                            "ItemProcessor": {
                                "ProcessorConfig": {
                                    "Mode": "DISTRIBUTED",
                                    "ExecutionType": "STANDARD"
                                },
                                "StartAt": "Batch SubmitJob Momma",
                                "States": {
                                    "Batch SubmitJob Momma": {
                                        "Type": "Task",
                                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                                        "Parameters": {
                                            "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-momma",
                                            "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-flpe",
                                            "PropagateTags": true,
                                            "Tags": {
                                                "job.$": "States.Format('confluence-momma-{}-{}',$.version, $.context_value.reach_id)"
                                            },
                                            "ContainerOverrides": {
                                                "Command": [
                                                    "-r",
                                                    "reaches.json",
                                                    "-i",
                                                    "Ref::index",
                                                    "-m",
                                                    "3",
                                                    "-b",
                                                    "Ref::bucket_key"
                                                ]
                                            },
                                            "JobName.$": "States.Format('confluence-momma-{}-{}',$.version, $.context_value.reach_id)",
                                            "Parameters": {
                                                "index.$": "States.Format('{}',$.context_index)",
                                                "bucket_key.$": "States.Format('${prefix}-sos/{}/{}', $.run_type, $.version)"
                                            }
                                        },
                                        "End": true
                                    }
                                }
                            },
                            "ItemReader": {
                                "Resource": "arn:aws:states:::s3:getObject",
                                "ReaderConfig": {
                                    "InputType": "JSON"
                                },
                                "Parameters": {
                                    "Bucket": "${prefix}-json",
                                    "Key": "reaches.json"
                                }
                            },
                            "ResultWriter": {
                                "Resource": "arn:aws:states:::s3:putObject",
                                "Parameters": {
                                    "Bucket": "${prefix}-map-state",
                                    "Prefix": "momma"
                                }
                            },
                            "Label": "momma",
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "Neobam",
                    "States": {
                        "Neobam": {
                            "Type": "Map",
                            "ToleratedFailurePercentagePath": "$.tolerated_failure_percentage",
                            "ResultPath": null,
                            "ItemSelector": {
                                "context_index.$": "$$.Map.Item.Index",
                                "context_value.$": "$$.Map.Item.Value",
                                "version.$": "$.version",
                                "run_type.$": "$.run_type"
                            },
                            "ItemProcessor": {
                                "ProcessorConfig": {
                                    "Mode": "DISTRIBUTED",
                                    "ExecutionType": "STANDARD"
                                },
                                "StartAt": "Batch SubmitJob Neobam",
                                "States": {
                                    "Batch SubmitJob Neobam": {
                                        "Type": "Task",
                                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                                        "Parameters": {
                                            "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-neobam",
                                            "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-flpe",
                                            "PropagateTags": true,
                                            "Tags": {
                                                "job.$": "States.Format('confluence-neobam-{}-{}',$.version, $.context_value[0].reach_id)"
                                            },
                                            "ContainerOverrides": {
                                                "Command": [
                                                    "-r",
                                                    "reaches.json",
                                                    "-i",
                                                    "Ref::index",
                                                    "-b",
                                                    "Ref::bucket_key"
                                                ]
                                            },
                                            "JobName.$": "States.Format('confluence-neobam-{}-{}',$.version, $.context_value.reach_id)",
                                            "Parameters": {
                                                "index.$": "States.Format('{}',$.context_index)",
                                                "bucket_key.$": "States.Format('${prefix}-sos/{}/{}', $.run_type, $.version)"
                                            }
                                        },
                                        "End": true
                                    }
                                }
                            },
                            "ItemReader": {
                                "Resource": "arn:aws:states:::s3:getObject",
                                "ReaderConfig": {
                                    "InputType": "JSON"
                                },
                                "Parameters": {
                                    "Bucket": "${prefix}-json",
                                    "Key": "reaches.json"
                                }
                            },
                            "ResultWriter": {
                                "Resource": "arn:aws:states:::s3:putObject",
                                "Parameters": {
                                    "Bucket": "${prefix}-map-state",
                                    "Prefix": "neobam"
                                }
                            },
                            "Label": "neobam",
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "Sad",
                    "States": {
                        "Sad": {
                            "Type": "Map",
                            "ToleratedFailurePercentagePath": "$.tolerated_failure_percentage",
                            "ResultPath": null,
                            "ItemSelector": {
                                "context_index.$": "$$.Map.Item.Index",
                                "context_value.$": "$$.Map.Item.Value",
                                "version.$": "$.version",
                                "run_type.$": "$.run_type"
                            },
                            "ItemProcessor": {
                                "ProcessorConfig": {
                                    "Mode": "DISTRIBUTED",
                                    "ExecutionType": "STANDARD"
                                },
                                "StartAt": "Batch SubmitJob Sad",
                                "States": {
                                    "Batch SubmitJob Sad": {
                                        "Type": "Task",
                                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                                        "Parameters": {
                                            "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-sad",
                                            "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-flpe",
                                            "PropagateTags": true,
                                            "Tags": {
                                                "job.$": "States.Format('confluence-sad-{}-{}',$.version, $.context_value.reach_id)"
                                            },
                                            "ContainerOverrides": {
                                                "Command": [
                                                    "-r",
                                                    "reaches.json",
                                                    "-i",
                                                    "Ref::index",
                                                    "-b",
                                                    "Ref::bucket_key"
                                                ]
                                            },
                                            "JobName.$": "States.Format('confluence-sad-{}-{}',$.version, $.context_value.reach_id)",
                                            "Parameters": {
                                                "index.$": "States.Format('{}',$.context_index)",
                                                "bucket_key.$": "States.Format('${prefix}-sos/{}/{}', $.run_type, $.version)"
                                            }
                                        },
                                        "End": true
                                    }
                                }
                            },
                            "ItemReader": {
                                "Resource": "arn:aws:states:::s3:getObject",
                                "ReaderConfig": {
                                    "InputType": "JSON"
                                },
                                "Parameters": {
                                    "Bucket": "${prefix}-json",
                                    "Key": "reaches.json"
                                }
                            },
                            "ResultWriter": {
                                "Resource": "arn:aws:states:::s3:putObject",
                                "Parameters": {
                                    "Bucket": "${prefix}-map-state",
                                    "Prefix": "sad"
                                }
                            },
                            "Label": "sad",
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "Sic4dvar",
                    "States": {
                        "Sic4dvar": {
                            "Type": "Map",
                            "ToleratedFailurePercentagePath": "$.tolerated_failure_percentage",
                            "ResultPath": null,
                            "ItemSelector": {
                                "context_index.$": "$$.Map.Item.Index",
                                "context_value.$": "$$.Map.Item.Value",
                                "version.$": "$.version",
                                "run_type.$": "$.run_type"
                            },
                            "ItemProcessor": {
                                "ProcessorConfig": {
                                    "Mode": "DISTRIBUTED",
                                    "ExecutionType": "STANDARD"
                                },
                                "StartAt": "Batch SubmitJob Sic4dvar",
                                "States": {
                                    "Batch SubmitJob Sic4dvar": {
                                        "Type": "Task",
                                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                                        "Parameters": {
                                            "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-sic4dvar",
                                            "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-flpe",
                                            "PropagateTags": true,
                                            "Tags": {
                                                "job.$": "States.Format('confluence-sic4dvar-{}-{}',$.version, $.context_value[0].reach_id)"
                                            },
                                            "ContainerOverrides": {
                                                "Command": [
                                                    "--flag_specific_index",
                                                    "--reach_index",
                                                    "Ref::index",
                                                    "--sos_bucket",
                                                    "Ref::bucket_key",
                                                    "--filename",
                                                    "reaches.json"
                                                ]
                                            },
                                            "JobName.$": "States.Format('confluence-sic4dvar-{}-{}',$.version, $.context_value[0].reach_id)",
                                            "Parameters": {
                                                "index.$": "States.Format('{}',$.context_index)",
                                                "bucket_key.$": "States.Format('${prefix}-sos/{}/{}', $.run_type, $.version)"
                                            }
                                        },
                                        "End": true
                                    }
                                }
                            },
                            "ItemReader": {
                                "Resource": "arn:aws:states:::s3:getObject",
                                "ReaderConfig": {
                                    "InputType": "JSON"
                                },
                                "Parameters": {
                                    "Bucket": "${prefix}-json",
                                    "Key": "sicsets.json"
                                }
                            },
                            "ResultWriter": {
                                "Resource": "arn:aws:states:::s3:putObject",
                                "Parameters": {
                                    "Bucket": "${prefix}-map-state",
                                    "Prefix": "sic4dvar"
                                }
                            },
                            "Label": "sic4dvar",
                            "End": true
                        }
                    }
                }
            ],
            "Next": "Metroman Consolidation",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Restart",
                    "ResultPath": "$.error"
                }
            ]
        },
        "Metroman Consolidation": {
            "Type": "Map",
            "ToleratedFailurePercentagePath": "$.tolerated_failure_percentage",
            "ResultPath": null,
            "ItemSelector": {
                "context_index.$": "$$.Map.Item.Index",
                "context_value.$": "$$.Map.Item.Value",
                "version.$": "$.version"
            },
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "DISTRIBUTED",
                    "ExecutionType": "STANDARD"
                },
                "StartAt": "Batch SubmitJob Metroman Consolidation",
                "States": {
                    "Batch SubmitJob Metroman Consolidation": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                        "Parameters": {
                            "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-metroman-consolidation",
                            "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-flpe",
                            "PropagateTags": true,
                            "Tags": {
                                "job.$": "States.Format('confluence-metroman-consolidation-{}-{}',$.version, $.context_index)"
                            },
                            "ContainerOverrides": {
                                "Command": [
                                    "-i",
                                    "Ref::index"
                                ]
                            },
                            "JobName.$": "States.Format('confluence-metroman-consolidation-{}-{}',$.version, $.context_index)",
                            "Parameters": {
                                "index.$": "States.Format('{}',$.context_index)"
                            }
                        },
                        "End": true
                    }
                }
            },
            "ItemReader": {
                "Resource": "arn:aws:states:::s3:getObject",
                "ReaderConfig": {
                    "InputType": "JSON"
                },
                "Parameters": {
                    "Bucket": "${prefix}-json",
                    "Key": "continent.json"
                }
            },
            "ResultWriter": {
                "Resource": "arn:aws:states:::s3:putObject",
                "Parameters": {
                    "Bucket": "${prefix}-map-state",
                    "Prefix": "metroman-consolidation"
                }
            },
            "Label": "metromanConsolidation",
            "Next": "Postdiagnostics FLPE"
        },
        "Postdiagnostics FLPE": {
            "Type": "Map",
            "ToleratedFailurePercentagePath": "$.tolerated_failure_percentage",
            "ResultPath": null,
            "ItemSelector": {
                "context_index.$": "$$.Map.Item.Index",
                "context_value.$": "$$.Map.Item.Value",
                "version.$": "$.version",
                "run_type.$": "$.run_type"
            },
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "DISTRIBUTED",
                    "ExecutionType": "STANDARD"
                },
                "StartAt": "Batch SubmitJob Postdiagnostics FLPE",
                "States": {
                    "Batch SubmitJob Postdiagnostics FLPE": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                        "Parameters": {
                            "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-postdiagnostics-flpe",
                            "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-postdiagnostics-flpe",
                            "PropagateTags": true,
                            "Tags": {
                                "job.$": "States.Format('confluence-postdiagnostics-flpe-{}-{}',$.version, $.context_value.reach_id)"
                            },
                            "ContainerOverrides": {
                                "Command": [
                                    "-i",
                                    "Ref::index",
                                    "-t",
                                    "0.25",
                                    "-b",
                                    "Ref::current_bucket",
                                    "-r",
                                    "reaches.json",
                                    "-l",
                                    "FALSE",
                                    "-p",
                                    "Ref::previous_bucket"
                                ]
                            },
                            "JobName.$": "States.Format('confluence-postdiagnostics-flpe-{}-{}',$.version, $.context_value.reach_id)",
                            "Parameters": {
                                "index.$": "States.Format('{}',$.context_index)",
                                "previous_bucket": "${prefix}-sos",
                                "current_bucket.$": "States.Format('${prefix}-sos/{}/{}', $.run_type, $.version)"
                            }
                        },
                        "End": true
                    }
                }
            },
            "ItemReader": {
                "Resource": "arn:aws:states:::s3:getObject",
                "ReaderConfig": {
                    "InputType": "JSON"
                },
                "Parameters": {
                    "Bucket": "${prefix}-json",
                    "Key": "reaches.json"
                }
            },
            "ResultWriter": {
                "Resource": "arn:aws:states:::s3:putObject",
                "Parameters": {
                    "Bucket": "${prefix}-map-state",
                    "Prefix": "postdiagnostics-flpe"
                }
            },
            "Label": "postdiagnostics-flpe",
            "Next": "Moi Choice",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Restart",
                    "ResultPath": "$.error"
                }
            ]
        },
        "Moi Choice": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.run_type",
                    "StringEquals": "constrained",
                    "Next": "Moi Constrained"
                },
                {
                    "Variable": "$.run_type",
                    "StringEquals": "unconstrained",
                    "Next": "Moi Unconstrained"
                }
            ]
        },
        "Moi Constrained": {
            "Type": "Map",
            "ToleratedFailurePercentagePath": "$.tolerated_failure_percentage",
            "ResultPath": null,
            "ItemSelector": {
                "context_index.$": "$$.Map.Item.Index",
                "context_value.$": "$$.Map.Item.Value",
                "version.$": "$.version",
                "run_type.$": "$.run_type"
            },
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "DISTRIBUTED",
                    "ExecutionType": "STANDARD"
                },
                "StartAt": "Batch SubmitJob Moi Constrained",
                "States": {
                    "Batch SubmitJob Moi Constrained": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                        "Parameters": {
                            "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-moi",
                            "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-moi",
                            "PropagateTags": true,
                            "Tags": {
                                "job.$": "States.Format('confluence-moi-{}-{}',$.version, $.context_value.basin_id)"
                            },
                            "ContainerOverrides": {
                                "Command": [
                                    "-i",
                                    "Ref::index",
                                    "-j",
                                    "basin.json",
                                    "-v",
                                    "-b",
                                    "constrained",
                                    "-s",
                                    "Ref::bucket_key"
                                ]
                            },
                            "JobName.$": "States.Format('confluence-moi-{}-{}',$.version, $.context_value.basin_id)",
                            "Parameters": {
                                "index.$": "States.Format('{}',$.context_index)",
                                "bucket_key.$": "States.Format('${prefix}-sos/{}/{}', $.run_type, $.version)"
                            }
                        },
                        "End": true
                    }
                }
            },
            "ItemReader": {
                "Resource": "arn:aws:states:::s3:getObject",
                "ReaderConfig": {
                    "InputType": "JSON"
                },
                "Parameters": {
                    "Bucket": "${prefix}-json",
                    "Key": "basin.json"
                }
            },
            "ResultWriter": {
                "Resource": "arn:aws:states:::s3:putObject",
                "Parameters": {
                    "Bucket": "${prefix}-map-state",
                    "Prefix": "moi"
                }
            },
            "Label": "moi_constrained",
            "Next": "Postdiagnostics MOI",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Restart",
                    "ResultPath": "$.error"
                }
            ]
        },
        "Moi Unconstrained": {
            "Type": "Map",
            "ToleratedFailurePercentagePath": "$.tolerated_failure_percentage",
            "ResultPath": null,
            "ItemSelector": {
                "context_index.$": "$$.Map.Item.Index",
                "context_value.$": "$$.Map.Item.Value",
                "version.$": "$.version",
                "run_type.$": "$.run_type"
            },
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "DISTRIBUTED",
                    "ExecutionType": "STANDARD"
                },
                "StartAt": "Batch SubmitJob Moi Unconstrained",
                "States": {
                    "Batch SubmitJob Moi Unconstrained": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                        "Parameters": {
                            "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-moi",
                            "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-moi",
                            "PropagateTags": true,
                            "Tags": {
                                "job.$": "States.Format('confluence-moi-{}-{}',$.version, $.context_value.basin_id)"
                            },
                            "ContainerOverrides": {
                                "Command": [
                                    "-i",
                                    "Ref::index",
                                    "-j",
                                    "basin.json",
                                    "-v",
                                    "-b",
                                    "unconstrained",
                                    "-s",
                                    "Ref::bucket_key"
                                ]
                            },
                            "JobName.$": "States.Format('confluence-moi-{}-{}',$.version, $.context_value.basin_id)",
                            "Parameters": {
                                "index.$": "States.Format('{}',$.context_index)",
                                "bucket_key.$": "States.Format('${prefix}-sos/{}/{}', $.run_type, $.version)"
                            }
                        },
                        "End": true
                    }
                }
            },
            "ItemReader": {
                "Resource": "arn:aws:states:::s3:getObject",
                "ReaderConfig": {
                    "InputType": "JSON"
                },
                "Parameters": {
                    "Bucket": "${prefix}-json",
                    "Key": "basin.json"
                }
            },
            "ResultWriter": {
                "Resource": "arn:aws:states:::s3:putObject",
                "Parameters": {
                    "Bucket": "${prefix}-map-state",
                    "Prefix": "moi"
                }
            },
            "Label": "moi_unconstrained",
            "Next": "Postdiagnostics MOI",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Restart",
                    "ResultPath": "$.error"
                }
            ]
        },
        "Postdiagnostics MOI": {
            "Type": "Map",
            "ToleratedFailurePercentagePath": "$.tolerated_failure_percentage",
            "ResultPath": null,
            "ItemSelector": {
                "context_index.$": "$$.Map.Item.Index",
                "context_value.$": "$$.Map.Item.Value",
                "version.$": "$.version",
                "run_type.$": "$.run_type"
            },
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "DISTRIBUTED",
                    "ExecutionType": "STANDARD"
                },
                "StartAt": "Batch SubmitJob Postdiagnostics MOI",
                "States": {
                    "Batch SubmitJob Postdiagnostics MOI": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                        "Parameters": {
                            "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-postdiagnostics-moi",
                            "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-postdiagnostics-moi",
                            "PropagateTags": true,
                            "Tags": {
                                "job.$": "States.Format('confluence-postdiagnostics-moi-{}-{}',$.version, $.context_value.reach_id)"
                            },
                            "ContainerOverrides": {
                                "Command": [
                                    "-i",
                                    "Ref::index",
                                    "-t",
                                    "0.25",
                                    "-b",
                                    "Ref::current_bucket",
                                    "-r",
                                    "reaches_test_1.json",
                                    "-l",
                                    "FALSE",
                                    "-p",
                                    "Ref::previous_bucket"
                                ]
                            },
                            "JobName.$": "States.Format('confluence-postdiagnostics-moi-{}-{}',$.version, $.context_value.reach_id)",
                            "Parameters": {
                                "index.$": "States.Format('{}',$.context_index)",
                                "previous_bucket": "${prefix}-sos",
                                "current_bucket.$": "States.Format('${prefix}-sos/{}/{}', $.run_type, $.version)"
                            }
                        },
                        "End": true
                    }
                }
            },
            "ItemReader": {
                "Resource": "arn:aws:states:::s3:getObject",
                "ReaderConfig": {
                    "InputType": "JSON"
                },
                "Parameters": {
                    "Bucket": "${prefix}-json",
                    "Key": "reaches.json"
                }
            },
            "ResultWriter": {
                "Resource": "arn:aws:states:::s3:putObject",
                "Parameters": {
                    "Bucket": "${prefix}-map-state",
                    "Prefix": "postdiagnostics-moi"
                }
            },
            "Label": "postdiagnostics-moi",
            "Next": "Offline Choice",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Restart",
                    "ResultPath": "$.error"
                }
            ]
        },
        "Offline Choice": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.run_type",
                    "StringEquals": "constrained",
                    "Next": "Offline Constrained"
                },
                {
                    "Variable": "$.run_type",
                    "StringEquals": "unconstrained",
                    "Next": "Offline Unconstrained"
                }
            ]
        },
        "Offline Constrained": {
            "Type": "Map",
            "ToleratedFailurePercentagePath": "$.tolerated_failure_percentage",
            "ResultPath": null,
            "ItemSelector": {
                "context_index.$": "$$.Map.Item.Index",
                "context_value.$": "$$.Map.Item.Value",
                "version.$": "$.version"
            },
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "DISTRIBUTED",
                    "ExecutionType": "STANDARD"
                },
                "StartAt": "Batch SubmitJob Offline Constrained",
                "States": {
                    "Batch SubmitJob Offline Constrained": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                        "Parameters": {
                            "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-offline",
                            "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-offline",
                            "PropagateTags": true,
                            "Tags": {
                                "job.$": "States.Format('confluence-offline-constrained-{}-{}',$.version, $.context_value.reach_id)"
                            },
                            "ContainerOverrides": {
                                "Command": [
                                    "constrained",
                                    "timeseries",
                                    "integrator",
                                    "reaches.json",
                                    "Ref::index"
                                ]
                            },
                            "JobName.$": "States.Format('confluence-offline-constrained-{}-{}',$.version, $.context_value.reach_id)",
                            "Parameters": {
                                "index.$": "States.Format('{}',$.context_index)"
                            }
                        },
                        "End": true
                    }
                }
            },
            "ItemReader": {
                "Resource": "arn:aws:states:::s3:getObject",
                "ReaderConfig": {
                    "InputType": "JSON"
                },
                "Parameters": {
                    "Bucket": "${prefix}-json",
                    "Key": "reaches.json"
                }
            },
            "ResultWriter": {
                "Resource": "arn:aws:states:::s3:putObject",
                "Parameters": {
                    "Bucket": "${prefix}-map-state",
                    "Prefix": "offline"
                }
            },
            "Label": "offlineConstrained",
            "Next": "Validation Choice",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Restart",
                    "ResultPath": "$.error"
                }
            ]
        },
        "Offline Unconstrained": {
            "Type": "Map",
            "ToleratedFailurePercentagePath": "$.tolerated_failure_percentage",
            "ResultPath": null,
            "ItemSelector": {
                "context_index.$": "$$.Map.Item.Index",
                "context_value.$": "$$.Map.Item.Value",
                "version.$": "$.version"
            },
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "DISTRIBUTED",
                    "ExecutionType": "STANDARD"
                },
                "StartAt": "Batch SubmitJob Offline Unconstrained",
                "States": {
                    "Batch SubmitJob Offline Unconstrained": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                        "Parameters": {
                            "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-offline",
                            "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-offline",
                            "PropagateTags": true,
                            "Tags": {
                                "job.$": "States.Format('confluence-offline-unconstrained-{}-{}',$.version, $.context_value.reach_id)"
                            },
                            "ContainerOverrides": {
                                "Command": [
                                    "unconstrained",
                                    "timeseries",
                                    "integrator",
                                    "reaches.json",
                                    "Ref::index"
                                ]
                            },
                            "JobName.$": "States.Format('confluence-offline-unconstrained-{}-{}',$.version, $.context_value.reach_id)",
                            "Parameters": {
                                "index.$": "States.Format('{}',$.context_index)"
                            }
                        },
                        "End": true
                    }
                }
            },
            "ItemReader": {
                "Resource": "arn:aws:states:::s3:getObject",
                "ReaderConfig": {
                    "InputType": "JSON"
                },
                "Parameters": {
                    "Bucket": "${prefix}-json",
                    "Key": "reaches.json"
                }
            },
            "ResultWriter": {
                "Resource": "arn:aws:states:::s3:putObject",
                "Parameters": {
                    "Bucket": "${prefix}-map-state",
                    "Prefix": "offline"
                }
            },
            "Label": "offlineUnconstrained",
            "Next": "Validation Choice",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Restart",
                    "ResultPath": "$.error"
                }
            ]
        },
        "Validation Choice": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.run_type",
                    "StringEquals": "constrained",
                    "Next": "Validation Constrained"
                },
                {
                    "Variable": "$.run_type",
                    "StringEquals": "unconstrained",
                    "Next": "Validation Unconstrained"
                }
            ]
        },
        "Validation Constrained": {
            "Type": "Map",
            "ToleratedFailurePercentagePath": "$.tolerated_failure_percentage",
            "ResultPath": null,
            "ItemSelector": {
                "context_index.$": "$$.Map.Item.Index",
                "context_value.$": "$$.Map.Item.Value",
                "version.$": "$.version",
                "run_type.$": "$.run_type"
            },
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "DISTRIBUTED",
                    "ExecutionType": "STANDARD"
                },
                "StartAt": "Batch SubmitJob Validation Constrained",
                "States": {
                    "Batch SubmitJob Validation Constrained": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                        "Parameters": {
                            "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-validation",
                            "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-validation",
                            "PropagateTags": true,
                            "Tags": {
                                "job.$": "States.Format('confluence-validation-constrained-{}-{}',$.version, $.context_value.reach_id)"
                            },
                            "ContainerOverrides": {
                                "Command": [
                                    "-i",
                                    "Ref::index",
                                    "-r",
                                    "reaches_test.json",
                                    "-t",
                                    "constrained",
                                    "-s",
                                    "Ref::bucket_key"
                                ]
                            },
                            "JobName.$": "States.Format('confluence-validation-constrained-{}-{}',$.version, $.context_value.reach_id)",
                            "Parameters": {
                                "index.$": "States.Format('{}',$.context_index)",
                                "bucket_key.$": "States.Format('${prefix}-sos/{}/{}', $.run_type, $.version)"
                            }
                        },
                        "End": true
                    }
                }
            },
            "ItemReader": {
                "Resource": "arn:aws:states:::s3:getObject",
                "ReaderConfig": {
                    "InputType": "JSON"
                },
                "Parameters": {
                    "Bucket": "${prefix}-json",
                    "Key": "reaches.json"
                }
            },
            "ResultWriter": {
                "Resource": "arn:aws:states:::s3:putObject",
                "Parameters": {
                    "Bucket": "${prefix}-map-state",
                    "Prefix": "validation"
                }
            },
            "Label": "validationConstrained",
            "Next": "Output Choice",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Restart",
                    "ResultPath": "$.error"
                }
            ]
        },
        "Validation Unconstrained": {
            "Type": "Map",
            "ToleratedFailurePercentagePath": "$.tolerated_failure_percentage",
            "ResultPath": null,
            "ItemSelector": {
                "context_index.$": "$$.Map.Item.Index",
                "context_value.$": "$$.Map.Item.Value",
                "version.$": "$.version",
                "run_type.$": "$.run_type"
            },
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "DISTRIBUTED",
                    "ExecutionType": "STANDARD"
                },
                "StartAt": "Batch SubmitJob Validation Unconstrained",
                "States": {
                    "Batch SubmitJob Validation Unconstrained": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                        "Parameters": {
                            "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-validation",
                            "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-validation",
                            "PropagateTags": true,
                            "Tags": {
                                "job.$": "States.Format('confluence-validation-unconstrained-{}-{}',$.version, $.context_value.reach_id)"
                            },
                            "ContainerOverrides": {
                                "Command": [
                                    "-i",
                                    "Ref::index",
                                    "-r",
                                    "reaches_test.json",
                                    "-t",
                                    "unconstrained",
                                    "-s",
                                    "Ref::bucket_key"
                                ]
                            },
                            "JobName.$": "States.Format('confluence-validation-unconstrained-{}-{}',$.version, $.context_value.reach_id)",
                            "Parameters": {
                                "index.$": "States.Format('{}',$.context_index)",
                                "bucket_key.$": "States.Format('${prefix}-sos/{}/{}', $.run_type, $.version)"
                            }
                        },
                        "End": true
                    }
                }
            },
            "ItemReader": {
                "Resource": "arn:aws:states:::s3:getObject",
                "ReaderConfig": {
                    "InputType": "JSON"
                },
                "Parameters": {
                    "Bucket": "${prefix}-json",
                    "Key": "reaches.json"
                }
            },
            "ResultWriter": {
                "Resource": "arn:aws:states:::s3:putObject",
                "Parameters": {
                    "Bucket": "${prefix}-map-state",
                    "Prefix": "validation"
                }
            },
            "Label": "validationUnconstrained",
            "Next": "Output Choice",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Restart",
                    "ResultPath": "$.error"
                }
            ]
        },
        "Output Choice": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.run_type",
                    "StringEquals": "constrained",
                    "Next": "Output Constrained"
                },
                {
                    "Variable": "$.run_type",
                    "StringEquals": "unconstrained",
                    "Next": "Output Unconstrained"
                }
            ]
        },
        "Output Constrained": {
            "Type": "Map",
            "ToleratedFailurePercentagePath": "$.tolerated_failure_percentage",
            "ResultPath": null,
            "ItemSelector": {
                "context_index.$": "$$.Map.Item.Index",
                "context_value.$": "$$.Map.Item.Value",
                "version.$": "$.version"
            },
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "DISTRIBUTED",
                    "ExecutionType": "STANDARD"
                },
                "StartAt": "Batch SubmitJob Output Constrained",
                "States": {
                    "Batch SubmitJob Output Constrained": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                        "Parameters": {
                            "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-output",
                            "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-output",
                            "PropagateTags": true,
                            "Tags": {
                                "job.$": "States.Format('confluence-output-constrained-{}-{}',$.version, $.context_index)"
                            },
                            "ContainerOverrides": {
                                "Command": [
                                    "-i",
                                    "Ref::index",
                                    "-c",
                                    "continent.json",
                                    "-r",
                                    "constrained",
                                    "-s",
                                    "Ref::sos_bucket",
                                    "-m",
                                    "priors",
                                    "hivdi",
                                    "metroman",
                                    "moi",
                                    "momma",
                                    "neobam",
                                    "offline",
                                    "postdiagnostics",
                                    "prediagnostics",
                                    "sad",
                                    "sic4dvar",
                                    "swot",
                                    "validation"
                                ]
                            },
                            "JobName.$": "States.Format('confluence-output-constrained-{}-{}',$.version, $.context_index)",
                            "Parameters": {
                                "index.$": "States.Format('{}',$.context_index)",
                                "sos_bucket": "${prefix}-sos"
                            }
                        },
                        "End": true
                    }
                }
            },
            "ItemReader": {
                "Resource": "arn:aws:states:::s3:getObject",
                "ReaderConfig": {
                    "InputType": "JSON"
                },
                "Parameters": {
                    "Bucket": "${prefix}-json",
                    "Key": "continent.json"
                }
            },
            "ResultWriter": {
                "Resource": "arn:aws:states:::s3:putObject",
                "Parameters": {
                    "Bucket": "${prefix}-map-state",
                    "Prefix": "output"
                }
            },
            "Label": "outputConstrained",
            "Next": "Successful Run",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Restart",
                    "ResultPath": "$.error"
                }
            ]
        },
        "Output Unconstrained": {
            "Type": "Map",
            "ToleratedFailurePercentagePath": "$.tolerated_failure_percentage",
            "ResultPath": null,
            "ItemSelector": {
                "context_index.$": "$$.Map.Item.Index",
                "context_value.$": "$$.Map.Item.Value",
                "version.$": "$.version"
            },
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "DISTRIBUTED",
                    "ExecutionType": "STANDARD"
                },
                "StartAt": "Batch SubmitJob Output Unconstrained",
                "States": {
                    "Batch SubmitJob Output Unconstrained": {
                        "Type": "Task",
                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                        "Parameters": {
                            "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-output",
                            "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-output",
                            "PropagateTags": true,
                            "Tags": {
                                "job.$": "States.Format('confluence-output-unconstrained-{}-{}',$.version, $.context_index)"
                            },
                            "ContainerOverrides": {
                                "Command": [
                                    "-i",
                                    "Ref::index",
                                    "-c",
                                    "continent.json",
                                    "-r",
                                    "constrained",
                                    "-s",
                                    "Ref::sos_bucket",
                                    "-m",
                                    "priors",
                                    "hivdi",
                                    "metroman",
                                    "moi",
                                    "momma",
                                    "neobam",
                                    "offline",
                                    "postdiagnostics",
                                    "prediagnostics",
                                    "sad",
                                    "sic4dvar",
                                    "swot",
                                    "validation"
                                ]
                            },
                            "JobName.$": "States.Format('confluence-output-unconstrained-{}-{}',$.version, $.context_index)",
                            "Parameters": {
                                "index.$": "States.Format('{}',$.context_index)",
                                "sos_bucket": "${prefix}-sos"
                            }
                        },
                        "End": true
                    }
                }
            },
            "ItemReader": {
                "Resource": "arn:aws:states:::s3:getObject",
                "ReaderConfig": {
                    "InputType": "JSON"
                },
                "Parameters": {
                    "Bucket": "${prefix}-json",
                    "Key": "continent.json"
                }
            },
            "ResultWriter": {
                "Resource": "arn:aws:states:::s3:putObject",
                "Parameters": {
                    "Bucket": "${prefix}-map-state",
                    "Prefix": "output"
                }
            },
            "Label": "outputUnconstrained",
            "Next": "Successful Run",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Restart",
                    "ResultPath": "$.error"
                }
            ]
        },
        "Successful Run": {
            "Type": "Succeed"
        },
        "Restart": {
            "Type": "Task",
            "Resource": "arn:aws:states:::batch:submitJob.sync",
            "ResultPath": null,
            "Parameters": {
                "JobName.$": "States.Format('confluence-restart-{}',$.version)",
                "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-restart",
                "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-restart",
                "PropagateTags": true,
                "Tags": {
                    "job.$": "States.Format('confluence-restart-{}',$.version)"
                },
                "ContainerOverrides": {
                    "Command": [
                        "-d",
                        "/mnt/input",
                        "-p",
                        "${prefix}",
                        "-v",
                        "Ref::version",
                        "-r",
                        "Ref::run_type",
                        "-t",
                        "Ref::failure_threshold"
                    ]
                },
                "Parameters": {
                    "version.$": "States.Format('{}',$.version)",
                    "run_type.$": "States.Format('{}',$.run_type)",
                    "failure_threshold.$": "States.Format('{}',$.tolerated_failure_percentage)"
                }
            },
            "Next": "Failed Run"
        },
        "Restart Subset": {
            "Type": "Task",
            "Resource": "arn:aws:states:::batch:submitJob.sync",
            "ResultPath": null,
            "Parameters": {
                "JobName.$": "States.Format('confluence-restart-subset-{}',$.version)",
                "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-restart",
                "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-restart",
                "PropagateTags": true,
                "Tags": {
                    "job.$": "States.Format('confluence-restart-subset-{}',$.version)"
                },
                "ContainerOverrides": {
                    "Command": [
                        "-d",
                        "/mnt/input",
                        "-p",
                        "${prefix}",
                        "-v",
                        "Ref::version",
                        "-r",
                        "Ref::run_type",
                        "-e",
                        "-t",
                        "Ref::failure_threshold",
                        "-e"
                    ]
                },
                "Parameters": {
                    "version.$": "States.Format('{}',$.version)",
                    "run_type.$": "States.Format('{}',$.run_type)",
                    "failure_threshold.$": "States.Format('{}',$.tolerated_failure_percentage)"
                }
            },
            "Next": "Failed Run"
        },
        "Failed Run": {
            "Type": "Fail"
        }
    }
}