workflow-step-function/confluence-sfn-workflow.asl.json
{
    "Comment": "Confluence Workflow",
    "StartAt": "Enable Renew",
    "States": {
        "Enable Renew": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
            "OutputPath": "$",
            "ResultPath": null,
            "Parameters": {
                "FunctionName": "arn:aws:lambda:${aws_region}:${account_id}:function:${prefix}-enable-renew:$LATEST",
                "Payload": {
                    "token.$": "$$.Task.Token"
                }
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 2,
                    "BackoffRate": 2
                }
            ],
            "TimeoutSeconds": 600,
            "Next": "Datagen"
        },
        "Datagen": {
            "Type": "Map",
            "OutputPath": "$",
            "ResultPath": "$.datagen",
            "ItemSelector": {
                "context_index.$": "$$.Map.Item.Index",
                "context_value.$": "$$.Map.Item.Value",
                "collection.$": "$.collection",
                "start_time.$": "$.start_time",
                "end_time.$": "$.end_time",
                "reach_subset_file.$": "$.reach_subset_file",
                "version.$": "$.version"
            },
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "DISTRIBUTED",
                    "ExecutionType": "STANDARD"
                },
                "StartAt": "Batch SubmitJob Datagen",
                "States": {
                    "Batch SubmitJob Datagen": {
                        "Type": "Task",
                        "ResultSelector": {
                            "container_command.$": "$.Container.Command",
                            "log_stream.$": "$.Container.LogStreamName",
                            "job_name.$": "$.JobName",
                            "job_id.$": "$.JobId",
                            "created_at.$": "$.CreatedAt",
                            "started_at.$": "$.StartedAt",
                            "stopped_at.$": "$.StoppedAt"
                        },
                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                        "Parameters": {
                            "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-datagen",
                            "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-datagen",
                            "PropagateTags": true,
                            "Tags": {
                                "job.$": "States.Format('confluence-datagen-{}-{}', $.Items[0].version, $.Items[0].context_index)"
                            },
                            "ContainerOverrides": {
                                "Command": [
                                    "-c",
                                    "river",
                                    "-i",
                                    "Ref::index",
                                    "-p",
                                    "POCLOUD",
                                    "-s",
                                    "Ref::collection",
                                    "-t",
                                    "Ref::datequery",
                                    "-d",
                                    "/data",
                                    "-k",
                                    "${ssm_key_id}",
                                    "-u",
                                    "Ref::reachsubsetfile",
                                    "-b",
                                    "-w",
                                    "/data/sword_patches_v215.json"
                                ]
                            },
                            "JobName.$": "States.Format('confluence-datagen-{}-{}', $.Items[0].version, $.Items[0].context_index)",
                            "Parameters": {
                                "collection.$": "$.Items[0].collection",
                                "datequery.$": "States.Format('{},{}', $.Items[0].start_time, $.Items[0].end_time)",
                                "reachsubsetfile.$": "States.Format('/data/{}', $.Items[0].reach_subset_file)",
                                "index.$": "States.Format('{}', $.Items[0].context_index)"
                            }
                        },
                        "End": true
                    }
                }
            },
            "ItemReader": {
                "Resource": "arn:aws:states:::s3:getObject",
                "ReaderConfig": {
                    "InputType": "JSON"
                },
                "Parameters": {
                    "Bucket": "${prefix}-json",
                    "Key": "continent-datagen.json"
                }
            },
            "Label": "datagen",
            "Next": "Combine Data"
        },
        "Combine Data": {
            "Type": "Task",
            "Resource": "arn:aws:states:::batch:submitJob.sync",
            "OutputPath": "$",
            "ResultPath": "$.combine_data",
            "ResultSelector": {
                "container_command.$": "$.Container.Command",
                "log_stream.$": "$.Container.LogStreamName",
                "job_name.$": "$.JobName",
                "job_id.$": "$.JobId",
                "created_at.$": "$.CreatedAt",
                "started_at.$": "$.StartedAt",
                "stopped_at.$": "$.StoppedAt"
            },
            "Parameters": {
                "JobName.$": "States.Format('confluence-combine-data-{}',$.version)",
                "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-combine-data",
                "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-combine-data",
                "PropagateTags": true,
                "Tags": {
                    "job.$": "States.Format('confluence-combine-data-{}',$.version)"
                },
                "ContainerOverrides": {
                    "Command": [
                        "-c",
                        "continent.json",
                        "-d",
                        "/data",
                        "-u",
                        "${prefix}-json"
                    ]
                }
            },
            "Next": "Input"
        },
        "Input": {
            "Type": "Map",
            "OutputPath": "$",
            "ResultPath": "$.input",
            "ItemSelector": {
                "context_index.$": "$$.Map.Item.Index",
                "context_value.$": "$$.Map.Item.Value",
                "version.$": "$.version"
            },
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "DISTRIBUTED",
                    "ExecutionType": "STANDARD"
                },
                "StartAt": "Batch SubmitJob Input",
                "States": {
                    "Batch SubmitJob Input": {
                        "Type": "Task",
                        "ResultSelector": {
                            "container_command.$": "$.Container.Command",
                            "log_stream.$": "$.Container.LogStreamName",
                            "job_name.$": "$.JobName",
                            "job_id.$": "$.JobId",
                            "created_at.$": "$.CreatedAt",
                            "started_at.$": "$.StartedAt",
                            "stopped_at.$": "$.StoppedAt"
                        },
                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                        "Parameters": {
                            "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-input",
                            "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-input",
                            "PropagateTags": true,
                            "Tags": {
                                "job.$": "States.Format('confluence-input-{}-{}',$.Items[0].version, $.Items[0].context_value.reach_id)"
                            },
                            "ContainerOverrides": {
                                "Command": [
                                    "-c",
                                    "river",
                                    "-i",
                                    "Ref::index",
                                    "-r",
                                    "/mnt/data/reach_node.json",
                                    "-p",
                                    "/mnt/data/cycle_passes.json",
                                    "-s",
                                    "/mnt/data/s3_list.json",
                                    "-e",
                                    "/mnt/data/s3_reach.json",
                                    "-d",
                                    "/mnt/data/swot"
                                ]
                            },
                            "JobName.$": "States.Format('confluence-input-{}-{}',$.Items[0].version, $.Items[0].context_value.reach_id)",
                            "Parameters": {
                                "index.$": "States.Format('{}',$.Items[0].context_index)"
                            }
                        },
                        "End": true
                    }
                }
            },
            "ItemReader": {
                "Resource": "arn:aws:states:::s3:getObject",
                "ReaderConfig": {
                    "InputType": "JSON"
                },
                "Parameters": {
                    "Bucket": "${prefix}-json",
                    "Key": "reaches.json"
                }
            },
            "Label": "input",
            "Next": "Disable Renew"
        },
        "Disable Renew": {
            "Type": "Task",
            "Resource": "arn:aws:states:::batch:submitJob.sync",
            "OutputPath": "$",
            "ResultPath": "$.disable_renew",
            "ResultSelector": {
                "container_command.$": "$.Container.Command",
                "log_stream.$": "$.Container.LogStreamName",
                "job_name.$": "$.JobName",
                "job_id.$": "$.JobId",
                "created_at.$": "$.CreatedAt",
                "started_at.$": "$.StartedAt",
                "stopped_at.$": "$.StoppedAt"
            },
            "Parameters": {
                "JobName.$": "States.Format('confluence-disable-renew-{}', $.version)",
                "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-disable-renew",
                "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-disable-renew",
                "PropagateTags": true,
                "Tags": {
                    "job.$": "States.Format('confluence-disable-renew-{}', $.version)"
                },
                "ContainerOverrides": {
                    "Command": [
                        "-p",
                        "Ref::prefix"
                    ]
                },
                "Parameters": {
                    "prefix": "${prefix}"
                }
            },
            "Next": "Prediagnostics"
        },
        "Prediagnostics": {
            "Type": "Map",
            "OutputPath": "$",
            "ResultPath": "$.prediagnostics",
            "ItemSelector": {
                "context_index.$": "$$.Map.Item.Index",
                "context_value.$": "$$.Map.Item.Value",
                "version.$": "$.version"
            },
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "DISTRIBUTED",
                    "ExecutionType": "STANDARD"
                },
                "StartAt": "Batch SubmitJob Prediagnostics",
                "States": {
                    "Batch SubmitJob Prediagnostics": {
                        "Type": "Task",
                        "ResultSelector": {
                            "container_command.$": "$.Container.Command",
                            "log_stream.$": "$.Container.LogStreamName",
                            "job_name.$": "$.JobName",
                            "job_id.$": "$.JobId",
                            "created_at.$": "$.CreatedAt",
                            "started_at.$": "$.StartedAt",
                            "stopped_at.$": "$.StoppedAt"
                        },
                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                        "Parameters": {
                            "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-prediagnostics",
                            "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-prediagnostics",
                            "PropagateTags": true,
                            "Tags": {
                                "job.$": "States.Format('confluence-input-{}-{}',$.Items[0].version, $.Items[0].context_value.reach_id)"
                            },
                            "ContainerOverrides": {
                                "Command": [
                                    "Ref::index",
                                    "reaches.json"
                                ]
                            },
                            "JobName.$": "States.Format('confluence-input-{}-{}',$.Items[0].version, $.Items[0].context_value.reach_id)",
                            "Parameters": {
                                "index.$": "States.Format('{}',$.Items[0].context_index)"
                            }
                        },
                        "End": true
                    }
                }
            },
            "ItemReader": {
                "Resource": "arn:aws:states:::s3:getObject",
                "ReaderConfig": {
                    "InputType": "JSON"
                },
                "Parameters": {
                    "Bucket": "${prefix}-json",
                    "Key": "reaches.json"
                }
            },
            "Label": "prediagnostics",
            "Next": "Priors Choice"
        },
        "Priors Choice": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.run_type",
                    "StringEquals": "constrained",
                    "Next": "Priors Constrained"
                },
                {
                    "Variable": "$.run_type",
                    "StringEquals": "unconstrained",
                    "Next": "Priors Unconstrained"
                }
            ]
        },
        "Priors Constrained": {
            "Type": "Map",
            "OutputPath": "$",
            "ResultPath": "$.priors_constrained",
            "ItemSelector": {
                "context_index.$": "$$.Map.Item.Index",
                "context_value.$": "$$.Map.Item.Value",
                "version.$": "$.version"
            },
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "DISTRIBUTED",
                    "ExecutionType": "STANDARD"
                },
                "StartAt": "Batch SubmitJob Priors Constrained",
                "States": {
                    "Batch SubmitJob Priors Constrained": {
                        "Type": "Task",
                        "ResultSelector": {
                            "container_command.$": "$.Container.Command",
                            "log_stream.$": "$.Container.LogStreamName",
                            "job_name.$": "$.JobName",
                            "job_id.$": "$.JobId",
                            "created_at.$": "$.CreatedAt",
                            "started_at.$": "$.StartedAt",
                            "stopped_at.$": "$.StoppedAt"
                        },
                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                        "Parameters": {
                            "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-priors",
                            "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-priors",
                            "PropagateTags": true,
                            "Tags": {
                                "job.$": "States.Format('confluence-priors-constrained-{}-{}',$.Items[0].version, $.Items[0].context_index)"
                            },
                            "ContainerOverrides": {
                                "Command": [
                                    "-i",
                                    "Ref::index",
                                    "-r",
                                    "constrained",
                                    "-p",
                                    "usgs",
                                    "riggs",
                                    "gbpriors",
                                    "-g",
                                    "-s",
                                    "Ref::sos_bucket"
                                ]
                            },
                            "JobName.$": "States.Format('confluence-priors-constrained-{}-{}',$.Items[0].version, $.Items[0].context_index)",
                            "Parameters": {
                                "index.$": "States.Format('{}',$.Items[0].context_index)",
                                "sos_bucket": "${prefix}-sos"
                            }
                        },
                        "End": true
                    }
                }
            },
            "ItemReader": {
                "Resource": "arn:aws:states:::s3:getObject",
                "ReaderConfig": {
                    "InputType": "JSON"
                },
                "Parameters": {
                    "Bucket": "${prefix}-json",
                    "Key": "continent.json"
                }
            },
            "Label": "priorsConstrained",
            "Next": "FLPE"
        },
        "Priors Unconstrained": {
            "Type": "Map",
            "OutputPath": "$",
            "ResultPath": "$.priors_unconstrained",
            "ItemSelector": {
                "context_index.$": "$$.Map.Item.Index",
                "context_value.$": "$$.Map.Item.Value",
                "version.$": "$.version"
            },
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "DISTRIBUTED",
                    "ExecutionType": "STANDARD"
                },
                "StartAt": "Batch SubmitJob Priors Unconstrained",
                "States": {
                    "Batch SubmitJob Priors Unconstrained": {
                        "Type": "Task",
                        "ResultSelector": {
                            "container_command.$": "$.Container.Command",
                            "log_stream.$": "$.Container.LogStreamName",
                            "job_name.$": "$.JobName",
                            "job_id.$": "$.JobId",
                            "created_at.$": "$.CreatedAt",
                            "started_at.$": "$.StartedAt",
                            "stopped_at.$": "$.StoppedAt"
                        },
                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                        "Parameters": {
                            "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-priors",
                            "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-priors",
                            "PropagateTags": true,
                            "Tags": {
                                "job.$": "States.Format('confluence-priors-unconstrained-{}-{}',$.Items[0].version, $.Items[0].context_index)"
                            },
                            "ContainerOverrides": {
                                "Command": [
                                    "-i",
                                    "Ref::index",
                                    "-r",
                                    "unconstrained",
                                    "-p",
                                    "usgs",
                                    "riggs",
                                    "gbpriors",
                                    "-g",
                                    "-s",
                                    "Ref::sos_bucket"
                                ]
                            },
                            "JobName.$": "States.Format('confluence-priors-unconstrained-{}-{}',$.Items[0].version, $.Items[0].context_index)",
                            "Parameters": {
                                "index.$": "States.Format('{}',$.Items[0].context_index)",
                                "sos_bucket": "${prefix}-sos"
                            }
                        },
                        "End": true
                    }
                }
            },
            "ItemReader": {
                "Resource": "arn:aws:states:::s3:getObject",
                "ReaderConfig": {
                    "InputType": "JSON"
                },
                "Parameters": {
                    "Bucket": "${prefix}-json",
                    "Key": "continent.json"
                }
            },
            "Label": "priorsUnconstrained",
            "Next": "FLPE"
        },
        "FLPE": {
            "Type": "Parallel",
            "ResultPath": "$.flpe",
            "Branches": [
                {
                    "StartAt": "Hivdi",
                    "States": {
                        "Hivdi": {
                            "Type": "Map",
                            "OutputPath": "$",
                            "ResultPath": "$.hivdi",
                            "ItemSelector": {
                                "context_index.$": "$$.Map.Item.Index",
                                "context_value.$": "$$.Map.Item.Value",
                                "version.$": "$.version"
                            },
                            "ItemProcessor": {
                                "ProcessorConfig": {
                                    "Mode": "DISTRIBUTED",
                                    "ExecutionType": "STANDARD"
                                },
                                "StartAt": "Batch SubmitJob Hivdi",
                                "States": {
                                    "Batch SubmitJob Hivdi": {
                                        "Type": "Task",
                                        "ResultSelector": {
                                            "container_command.$": "$.Container.Command",
                                            "log_stream.$": "$.Container.LogStreamName",
                                            "job_name.$": "$.JobName",
                                            "job_id.$": "$.JobId",
                                            "created_at.$": "$.CreatedAt",
                                            "started_at.$": "$.StartedAt",
                                            "stopped_at.$": "$.StoppedAt"
                                        },
                                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                                        "Parameters": {
                                            "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-hivdi",
                                            "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-flpe",
                                            "PropagateTags": true,
                                            "Tags": {
                                                "job.$": "States.Format('confluence-hivdi-{}-{}',$.Items[0].version, $.Items[0].context_value[0].reach_id)"
                                            },
                                            "ContainerOverrides": {
                                                "Command": [
                                                    "-i",
                                                    "Ref::index"
                                                ]
                                            },
                                            "JobName.$": "States.Format('confluence-hivdi-{}-{}',$.Items[0].version, $.Items[0].context_value[0].reach_id)",
                                            "Parameters": {
                                                "index.$": "States.Format('{}',$.Items[0].context_index)"
                                            }
                                        },
                                        "End": true
                                    }
                                }
                            },
                            "ItemReader": {
                                "Resource": "arn:aws:states:::s3:getObject",
                                "ReaderConfig": {
                                    "InputType": "JSON"
                                },
                                "Parameters": {
                                    "Bucket": "${prefix}-json",
                                    "Key": "hivdisets.json"
                                }
                            },
                            "Label": "hivdi",
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "Metroman",
                    "States": {
                        "Metroman": {
                            "Type": "Map",
                            "OutputPath": "$",
                            "ResultPath": "$.metroman",
                            "ItemSelector": {
                                "context_index.$": "$$.Map.Item.Index",
                                "context_value.$": "$$.Map.Item.Value",
                                "version.$": "$.version"
                            },
                            "ItemProcessor": {
                                "ProcessorConfig": {
                                    "Mode": "DISTRIBUTED",
                                    "ExecutionType": "STANDARD"
                                },
                                "StartAt": "Batch SubmitJob Metroman",
                                "States": {
                                    "Batch SubmitJob Metroman": {
                                        "Type": "Task",
                                        "ResultSelector": {
                                            "container_command.$": "$.Container.Command",
                                            "log_stream.$": "$.Container.LogStreamName",
                                            "job_name.$": "$.JobName",
                                            "job_id.$": "$.JobId",
                                            "created_at.$": "$.CreatedAt",
                                            "started_at.$": "$.StartedAt",
                                            "stopped_at.$": "$.StoppedAt"
                                        },
                                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                                        "Parameters": {
                                            "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-metroman",
                                            "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-flpe",
                                            "PropagateTags": true,
                                            "Tags": {
                                                "job.$": "States.Format('confluence-metroman-{}-{}',$.Items[0].version, $.Items[0].context_value[0].reach_id)"
                                            },
                                            "ContainerOverrides": {
                                                "Command": [
                                                    "metrosets.json",
                                                    "Ref::index",
                                                    "-v"
                                                ]
                                            },
                                            "JobName.$": "States.Format('confluence-metroman-{}-{}',$.Items[0].version, $.Items[0].context_value[0].reach_id)",
                                            "Parameters": {
                                                "index.$": "States.Format('{}',$.Items[0].context_index)"
                                            }
                                        },
                                        "End": true
                                    }
                                }
                            },
                            "ItemReader": {
                                "Resource": "arn:aws:states:::s3:getObject",
                                "ReaderConfig": {
                                    "InputType": "JSON"
                                },
                                "Parameters": {
                                    "Bucket": "${prefix}-json",
                                    "Key": "metrosets.json"
                                }
                            },
                            "Label": "metroman",
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "Momma",
                    "States": {
                        "Momma": {
                            "Type": "Map",
                            "OutputPath": "$",
                            "ResultPath": "$.momma",
                            "ItemSelector": {
                                "context_index.$": "$$.Map.Item.Index",
                                "context_value.$": "$$.Map.Item.Value",
                                "version.$": "$.version"
                            },
                            "ItemProcessor": {
                                "ProcessorConfig": {
                                    "Mode": "DISTRIBUTED",
                                    "ExecutionType": "STANDARD"
                                },
                                "StartAt": "Batch SubmitJob Momma",
                                "States": {
                                    "Batch SubmitJob Momma": {
                                        "Type": "Task",
                                        "ResultSelector": {
                                            "container_command.$": "$.Container.Command",
                                            "log_stream.$": "$.Container.LogStreamName",
                                            "job_name.$": "$.JobName",
                                            "job_id.$": "$.JobId",
                                            "created_at.$": "$.CreatedAt",
                                            "started_at.$": "$.StartedAt",
                                            "stopped_at.$": "$.StoppedAt"
                                        },
                                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                                        "Parameters": {
                                            "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-momma",
                                            "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-flpe",
                                            "PropagateTags": true,
                                            "Tags": {
                                                "job.$": "States.Format('confluence-momma-{}-{}',$.Items[0].version, $.Items[0].context_value.reach_id)"
                                            },
                                            "ContainerOverrides": {
                                                "Command": [
                                                    "Ref::index",
                                                    "reaches.json"
                                                ]
                                            },
                                            "JobName.$": "States.Format('confluence-momma-{}-{}',$.Items[0].version, $.Items[0].context_value.reach_id)",
                                            "Parameters": {
                                                "index.$": "States.Format('{}',$.Items[0].context_index)"
                                            }
                                        },
                                        "End": true
                                    }
                                }
                            },
                            "ItemReader": {
                                "Resource": "arn:aws:states:::s3:getObject",
                                "ReaderConfig": {
                                    "InputType": "JSON"
                                },
                                "Parameters": {
                                    "Bucket": "${prefix}-json",
                                    "Key": "reaches.json"
                                }
                            },
                            "Label": "momma",
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "Neobam",
                    "States": {
                        "Neobam": {
                            "Type": "Map",
                            "OutputPath": "$",
                            "ResultPath": "$.neobam",
                            "ItemSelector": {
                                "context_index.$": "$$.Map.Item.Index",
                                "context_value.$": "$$.Map.Item.Value",
                                "version.$": "$.version"
                            },
                            "ItemProcessor": {
                                "ProcessorConfig": {
                                    "Mode": "DISTRIBUTED",
                                    "ExecutionType": "STANDARD"
                                },
                                "StartAt": "Batch SubmitJob Neobam",
                                "States": {
                                    "Batch SubmitJob Neobam": {
                                        "Type": "Task",
                                        "ResultSelector": {
                                            "container_command.$": "$.Container.Command",
                                            "log_stream.$": "$.Container.LogStreamName",
                                            "job_name.$": "$.JobName",
                                            "job_id.$": "$.JobId",
                                            "created_at.$": "$.CreatedAt",
                                            "started_at.$": "$.StartedAt",
                                            "stopped_at.$": "$.StoppedAt"
                                        },
                                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                                        "Parameters": {
                                            "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-neobam",
                                            "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-flpe",
                                            "PropagateTags": true,
                                            "Tags": {
                                                "job.$": "States.Format('confluence-neobam-{}-{}',$.Items[0].version, $.Items[0].context_value.reach_id)"
                                            },
                                            "ContainerOverrides": {
                                                "Command": [
                                                    "Ref::index",
                                                    "reaches.json"
                                                ]
                                            },
                                            "JobName.$": "States.Format('confluence-neobam-{}-{}',$.Items[0].version, $.Items[0].context_value.reach_id)",
                                            "Parameters": {
                                                "index.$": "States.Format('{}',$.Items[0].context_index)"
                                            }
                                        },
                                        "End": true
                                    }
                                }
                            },
                            "ItemReader": {
                                "Resource": "arn:aws:states:::s3:getObject",
                                "ReaderConfig": {
                                    "InputType": "JSON"
                                },
                                "Parameters": {
                                    "Bucket": "${prefix}-json",
                                    "Key": "reaches.json"
                                }
                            },
                            "Label": "neobam",
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "Sad",
                    "States": {
                        "Sad": {
                            "Type": "Map",
                            "OutputPath": "$",
                            "ResultPath": "$.sad",
                            "ItemSelector": {
                                "context_index.$": "$$.Map.Item.Index",
                                "context_value.$": "$$.Map.Item.Value",
                                "version.$": "$.version"
                            },
                            "ItemProcessor": {
                                "ProcessorConfig": {
                                    "Mode": "DISTRIBUTED",
                                    "ExecutionType": "STANDARD"
                                },
                                "StartAt": "Batch SubmitJob Sad",
                                "States": {
                                    "Batch SubmitJob Sad": {
                                        "Type": "Task",
                                        "ResultSelector": {
                                            "container_command.$": "$.Container.Command",
                                            "log_stream.$": "$.Container.LogStreamName",
                                            "job_name.$": "$.JobName",
                                            "job_id.$": "$.JobId",
                                            "created_at.$": "$.CreatedAt",
                                            "started_at.$": "$.StartedAt",
                                            "stopped_at.$": "$.StoppedAt"
                                        },
                                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                                        "Parameters": {
                                            "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-sad",
                                            "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-flpe",
                                            "PropagateTags": true,
                                            "Tags": {
                                                "job.$": "States.Format('confluence-sad-{}-{}',$.Items[0].version, $.Items[0].context_value.reach_id)"
                                            },
                                            "ContainerOverrides": {
                                                "Command": [
                                                    "Ref::index",
                                                    "reaches.json"
                                                ]
                                            },
                                            "JobName.$": "States.Format('confluence-sad-{}-{}',$.Items[0].version, $.Items[0].context_value.reach_id)",
                                            "Parameters": {
                                                "index.$": "States.Format('{}',$.Items[0].context_index)"
                                            }
                                        },
                                        "End": true
                                    }
                                }
                            },
                            "ItemReader": {
                                "Resource": "arn:aws:states:::s3:getObject",
                                "ReaderConfig": {
                                    "InputType": "JSON"
                                },
                                "Parameters": {
                                    "Bucket": "${prefix}-json",
                                    "Key": "reaches.json"
                                }
                            },
                            "Label": "sad",
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "Sic4dvar",
                    "States": {
                        "Sic4dvar": {
                            "Type": "Map",
                            "OutputPath": "$",
                            "ResultPath": "$.sic4dvar",
                            "ItemSelector": {
                                "context_index.$": "$$.Map.Item.Index",
                                "context_value.$": "$$.Map.Item.Value",
                                "version.$": "$.version"
                            },
                            "ItemProcessor": {
                                "ProcessorConfig": {
                                    "Mode": "DISTRIBUTED",
                                    "ExecutionType": "STANDARD"
                                },
                                "StartAt": "Batch SubmitJob Sic4dvar",
                                "States": {
                                    "Batch SubmitJob Sic4dvar": {
                                        "Type": "Task",
                                        "ResultSelector": {
                                            "container_command.$": "$.Container.Command",
                                            "log_stream.$": "$.Container.LogStreamName",
                                            "job_name.$": "$.JobName",
                                            "job_id.$": "$.JobId",
                                            "created_at.$": "$.CreatedAt",
                                            "started_at.$": "$.StartedAt",
                                            "stopped_at.$": "$.StoppedAt"
                                        },
                                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                                        "Parameters": {
                                            "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-sic4dvar",
                                            "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-flpe",
                                            "PropagateTags": true,
                                            "Tags": {
                                                "job.$": "States.Format('confluence-sic4dvar-{}-{}',$.Items[0].version, $.Items[0].context_value[0].reach_id)"
                                            },
                                            "ContainerOverrides": {
                                                "Command": [
                                                    "--json",
                                                    "sicsets.json",
                                                    "--constraint",
                                                    "constrained"
                                                ],
                                                "Environment": [
                                                    {
                                                        "Name": "BATCH_JOB_INDEX",
                                                        "Value.$": "States.Format('{}',$.Items[0].context_index)"
                                                    }
                                                ]
                                            },
                                            "JobName.$": "States.Format('confluence-sic4dvar-{}-{}',$.Items[0].version, $.Items[0].context_value[0].reach_id)"
                                        },
                                        "End": true
                                    }
                                }
                            },
                            "ItemReader": {
                                "Resource": "arn:aws:states:::s3:getObject",
                                "ReaderConfig": {
                                    "InputType": "JSON"
                                },
                                "Parameters": {
                                    "Bucket": "${prefix}-json",
                                    "Key": "sicsets.json"
                                }
                            },
                            "Label": "sic4dvar",
                            "End": true
                        }
                    }
                }
            ],
            "Next": "Postdiagnostics FLPE"
        },
        "Postdiagnostics FLPE": {
            "Type": "Map",
            "OutputPath": "$",
            "ResultPath": "$.postdiagnostics_flpe",
            "ItemSelector": {
                "context_index.$": "$$.Map.Item.Index",
                "context_value.$": "$$.Map.Item.Value",
                "version.$": "$.version"
            },
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "DISTRIBUTED",
                    "ExecutionType": "STANDARD"
                },
                "StartAt": "Batch SubmitJob Postdiagnostics FLPE",
                "States": {
                    "Batch SubmitJob Postdiagnostics FLPE": {
                        "Type": "Task",
                        "ResultSelector": {
                            "container_command.$": "$.Container.Command",
                            "log_stream.$": "$.Container.LogStreamName",
                            "job_name.$": "$.JobName",
                            "job_id.$": "$.JobId",
                            "created_at.$": "$.CreatedAt",
                            "started_at.$": "$.StartedAt",
                            "stopped_at.$": "$.StoppedAt"
                        },
                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                        "Parameters": {
                            "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-postdiagnostics-flpe",
                            "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-postdiagnostics-flpe",
                            "PropagateTags": true,
                            "Tags": {
                                "job.$": "States.Format('confluence-postdiagnostics-flpe-{}-{}',$.Items[0].version, $.Items[0].context_value.reach_id)"
                            },
                            "ContainerOverrides": {
                                "Command": [
                                    "0.25",
                                    "Ref::index",
                                    "reaches.json",
                                    "Ref::sos_bucket"
                                ]
                            },
                            "JobName.$": "States.Format('confluence-postdiagnostics-flpe-{}-{}',$.Items[0].version, $.Items[0].context_value.reach_id)",
                            "Parameters": {
                                "index.$": "States.Format('{}',$.Items[0].context_index)",
                                "sos_bucket": "${prefix}-sos"
                            }
                        },
                        "End": true
                    }
                }
            },
            "ItemReader": {
                "Resource": "arn:aws:states:::s3:getObject",
                "ReaderConfig": {
                    "InputType": "JSON"
                },
                "Parameters": {
                    "Bucket": "${prefix}-json",
                    "Key": "reaches.json"
                }
            },
            "Label": "postdiagnostics-flpe",
            "Next": "Moi Choice"
        },
        "Moi Choice": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.run_type",
                    "StringEquals": "constrained",
                    "Next": "Moi Constrained"
                },
                {
                    "Variable": "$.run_type",
                    "StringEquals": "unconstrained",
                    "Next": "Moi Unconstrained"
                }
            ]
        },
        "Moi Constrained": {
            "Type": "Map",
            "OutputPath": "$",
            "ResultPath": "$.moi",
            "ItemSelector": {
                "context_index.$": "$$.Map.Item.Index",
                "context_value.$": "$$.Map.Item.Value",
                "version.$": "$.version"
            },
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "DISTRIBUTED",
                    "ExecutionType": "STANDARD"
                },
                "StartAt": "Batch SubmitJob Moi Constrained",
                "States": {
                    "Batch SubmitJob Moi Constrained": {
                        "Type": "Task",
                        "ResultSelector": {
                            "container_command.$": "$.Container.Command",
                            "log_stream.$": "$.Container.LogStreamName",
                            "job_name.$": "$.JobName",
                            "job_id.$": "$.JobId",
                            "created_at.$": "$.CreatedAt",
                            "started_at.$": "$.StartedAt",
                            "stopped_at.$": "$.StoppedAt"
                        },
                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                        "Parameters": {
                            "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-moi",
                            "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-moi",
                            "PropagateTags": true,
                            "Tags": {
                                "job.$": "States.Format('confluence-moi-{}-{}',$.Items[0].version, $.Items[0].context_value.basin_id)"
                            },
                            "ContainerOverrides": {
                                "Command": [
                                    "basin.json",
                                    "-v",
                                    "constrained",
                                    "Ref::index"
                                ]
                            },
                            "JobName.$": "States.Format('confluence-moi-{}-{}',$.Items[0].version, $.Items[0].context_value.basin_id)",
                            "Parameters": {
                                "index.$": "States.Format('{}',$.Items[0].context_index)"
                            }
                        },
                        "End": true
                    }
                }
            },
            "ItemReader": {
                "Resource": "arn:aws:states:::s3:getObject",
                "ReaderConfig": {
                    "InputType": "JSON"
                },
                "Parameters": {
                    "Bucket": "${prefix}-json",
                    "Key": "basin.json"
                }
            },
            "Label": "moi_constrained",
            "Next": "Postdiagnostics MOI"
        },
        "Moi Unconstrained": {
            "Type": "Map",
            "OutputPath": "$",
            "ResultPath": "$.moi",
            "ItemSelector": {
                "context_index.$": "$$.Map.Item.Index",
                "context_value.$": "$$.Map.Item.Value",
                "version.$": "$.version"
            },
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "DISTRIBUTED",
                    "ExecutionType": "STANDARD"
                },
                "StartAt": "Batch SubmitJob Moi Unconstrained",
                "States": {
                    "Batch SubmitJob Moi Unconstrained": {
                        "Type": "Task",
                        "ResultSelector": {
                            "container_command.$": "$.Container.Command",
                            "log_stream.$": "$.Container.LogStreamName",
                            "job_name.$": "$.JobName",
                            "job_id.$": "$.JobId",
                            "created_at.$": "$.CreatedAt",
                            "started_at.$": "$.StartedAt",
                            "stopped_at.$": "$.StoppedAt"
                        },
                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                        "Parameters": {
                            "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-moi",
                            "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-moi",
                            "PropagateTags": true,
                            "Tags": {
                                "job.$": "States.Format('confluence-moi-{}-{}',$.Items[0].version, $.Items[0].context_value.basin_id)"
                            },
                            "ContainerOverrides": {
                                "Command": [
                                    "basin.json",
                                    "-v",
                                    "unconstrained",
                                    "Ref::index"
                                ]
                            },
                            "JobName.$": "States.Format('confluence-moi-{}-{}',$.Items[0].version, $.Items[0].context_value.basin_id)",
                            "Parameters": {
                                "index.$": "States.Format('{}',$.Items[0].context_index)"
                            }
                        },
                        "End": true
                    }
                }
            },
            "ItemReader": {
                "Resource": "arn:aws:states:::s3:getObject",
                "ReaderConfig": {
                    "InputType": "JSON"
                },
                "Parameters": {
                    "Bucket": "${prefix}-json",
                    "Key": "basin.json"
                }
            },
            "Label": "moi_unconstrained",
            "Next": "Postdiagnostics MOI"
        },
        "Postdiagnostics MOI": {
            "Type": "Map",
            "OutputPath": "$",
            "ResultPath": "$.postdiagnostics_moi",
            "ItemSelector": {
                "context_index.$": "$$.Map.Item.Index",
                "context_value.$": "$$.Map.Item.Value",
                "version.$": "$.version"
            },
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "DISTRIBUTED",
                    "ExecutionType": "STANDARD"
                },
                "StartAt": "Batch SubmitJob Postdiagnostics MOI",
                "States": {
                    "Batch SubmitJob Postdiagnostics MOI": {
                        "Type": "Task",
                        "ResultSelector": {
                            "container_command.$": "$.Container.Command",
                            "log_stream.$": "$.Container.LogStreamName",
                            "job_name.$": "$.JobName",
                            "job_id.$": "$.JobId",
                            "created_at.$": "$.CreatedAt",
                            "started_at.$": "$.StartedAt",
                            "stopped_at.$": "$.StoppedAt"
                        },
                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                        "Parameters": {
                            "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-postdiagnostics-moi",
                            "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-postdiagnostics-moi",
                            "PropagateTags": true,
                            "Tags": {
                                "job.$": "States.Format('confluence-postdiagnostics-moi-{}-{}',$.Items[0].version, $.Items[0].context_value.reach_id)"
                            },
                            "ContainerOverrides": {
                                "Command": [
                                    "0.25",
                                    "Ref::index",
                                    "reaches.json",
                                    "Ref::sos_bucket"
                                ]
                            },
                            "JobName.$": "States.Format('confluence-postdiagnostics-moi-{}-{}',$.Items[0].version, $.Items[0].context_value.reach_id)",
                            "Parameters": {
                                "index.$": "States.Format('{}',$.Items[0].context_index)",
                                "sos_bucket": "${prefix}-sos"
                            }
                        },
                        "End": true
                    }
                }
            },
            "ItemReader": {
                "Resource": "arn:aws:states:::s3:getObject",
                "ReaderConfig": {
                    "InputType": "JSON"
                },
                "Parameters": {
                    "Bucket": "${prefix}-json",
                    "Key": "reaches.json"
                }
            },
            "Label": "postdiagnostics-moi",
            "Next": "Offline Choice"
        },
        "Offline Choice": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.run_type",
                    "StringEquals": "constrained",
                    "Next": "Offline Constrained"
                },
                {
                    "Variable": "$.run_type",
                    "StringEquals": "unconstrained",
                    "Next": "Offline Unconstrained"
                }
            ]
        },
        "Offline Constrained": {
            "Type": "Map",
            "OutputPath": "$",
            "ResultPath": "$.offline_constrained",
            "ItemSelector": {
                "context_index.$": "$$.Map.Item.Index",
                "context_value.$": "$$.Map.Item.Value",
                "version.$": "$.version"
            },
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "DISTRIBUTED",
                    "ExecutionType": "STANDARD"
                },
                "StartAt": "Batch SubmitJob Offline Constrained",
                "States": {
                    "Batch SubmitJob Offline Constrained": {
                        "Type": "Task",
                        "ResultSelector": {
                            "container_command.$": "$.Container.Command",
                            "log_stream.$": "$.Container.LogStreamName",
                            "job_name.$": "$.JobName",
                            "job_id.$": "$.JobId",
                            "created_at.$": "$.CreatedAt",
                            "started_at.$": "$.StartedAt",
                            "stopped_at.$": "$.StoppedAt"
                        },
                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                        "Parameters": {
                            "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-offline",
                            "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-offline",
                            "PropagateTags": true,
                            "Tags": {
                                "job.$": "States.Format('confluence-offline-constrained-{}-{}',$.Items[0].version, $.Items[0].context_value.reach_id)"
                            },
                            "ContainerOverrides": {
                                "Command": [
                                    "constrained",
                                    "timeseries",
                                    "integrator",
                                    "reaches.json",
                                    "Ref::index"
                                ]
                            },
                            "JobName.$": "States.Format('confluence-offline-constrained-{}-{}',$.Items[0].version, $.Items[0].context_value.reach_id)",
                            "Parameters": {
                                "index.$": "States.Format('{}',$.Items[0].context_index)"
                            }
                        },
                        "End": true
                    }
                }
            },
            "ItemReader": {
                "Resource": "arn:aws:states:::s3:getObject",
                "ReaderConfig": {
                    "InputType": "JSON"
                },
                "Parameters": {
                    "Bucket": "${prefix}-json",
                    "Key": "reaches.json"
                }
            },
            "Label": "offlineConstrained",
            "Next": "Validation Choice"
        },
        "Offline Unconstrained": {
            "Type": "Map",
            "OutputPath": "$",
            "ResultPath": "$.offline_unconstrained",
            "ItemSelector": {
                "context_index.$": "$$.Map.Item.Index",
                "context_value.$": "$$.Map.Item.Value",
                "version.$": "$.version"
            },
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "DISTRIBUTED",
                    "ExecutionType": "STANDARD"
                },
                "StartAt": "Batch SubmitJob Offline Unconstrained",
                "States": {
                    "Batch SubmitJob Offline Unconstrained": {
                        "Type": "Task",
                        "ResultSelector": {
                            "container_command.$": "$.Container.Command",
                            "log_stream.$": "$.Container.LogStreamName",
                            "job_name.$": "$.JobName",
                            "job_id.$": "$.JobId",
                            "created_at.$": "$.CreatedAt",
                            "started_at.$": "$.StartedAt",
                            "stopped_at.$": "$.StoppedAt"
                        },
                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                        "Parameters": {
                            "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-offline",
                            "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-offline",
                            "PropagateTags": true,
                            "Tags": {
                                "job.$": "States.Format('confluence-offline-unconstrained-{}-{}',$.Items[0].version, $.Items[0].context_value.reach_id)"
                            },
                            "ContainerOverrides": {
                                "Command": [
                                    "unconstrained",
                                    "timeseries",
                                    "integrator",
                                    "reaches.json",
                                    "Ref::index"
                                ]
                            },
                            "JobName.$": "States.Format('confluence-offline-unconstrained-{}-{}',$.Items[0].version, $.Items[0].context_value.reach_id)",
                            "Parameters": {
                                "index.$": "States.Format('{}',$.Items[0].context_index)"
                            }
                        },
                        "End": true
                    }
                }
            },
            "ItemReader": {
                "Resource": "arn:aws:states:::s3:getObject",
                "ReaderConfig": {
                    "InputType": "JSON"
                },
                "Parameters": {
                    "Bucket": "${prefix}-json",
                    "Key": "reaches.json"
                }
            },
            "Label": "offlineUnconstrained",
            "Next": "Validation Choice"
        },
        "Validation Choice": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.run_type",
                    "StringEquals": "constrained",
                    "Next": "Validation Constrained"
                },
                {
                    "Variable": "$.run_type",
                    "StringEquals": "unconstrained",
                    "Next": "Validation Unconstrained"
                }
            ]
        },
        "Validation Constrained": {
            "Type": "Map",
            "OutputPath": "$",
            "ResultPath": "$.validation_constrained",
            "ItemSelector": {
                "context_index.$": "$$.Map.Item.Index",
                "context_value.$": "$$.Map.Item.Value",
                "version.$": "$.version"
            },
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "DISTRIBUTED",
                    "ExecutionType": "STANDARD"
                },
                "StartAt": "Batch SubmitJob Validation Constrained",
                "States": {
                    "Batch SubmitJob Validation Constrained": {
                        "Type": "Task",
                        "ResultSelector": {
                            "container_command.$": "$.Container.Command",
                            "log_stream.$": "$.Container.LogStreamName",
                            "job_name.$": "$.JobName",
                            "job_id.$": "$.JobId",
                            "created_at.$": "$.CreatedAt",
                            "started_at.$": "$.StartedAt",
                            "stopped_at.$": "$.StoppedAt"
                        },
                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                        "Parameters": {
                            "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-validation",
                            "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-validation",
                            "PropagateTags": true,
                            "Tags": {
                                "job.$": "States.Format('confluence-validation-constrained-{}-{}',$.Items[0].version, $.Items[0].context_value.reach_id)"
                            },
                            "ContainerOverrides": {
                                "Command": [
                                    "reaches.json",
                                    "constrained",
                                    "Ref::index"
                                ]
                            },
                            "JobName.$": "States.Format('confluence-validation-constrained-{}-{}',$.Items[0].version, $.Items[0].context_value.reach_id)",
                            "Parameters": {
                                "index.$": "States.Format('{}',$.Items[0].context_index)"
                            }
                        },
                        "End": true
                    }
                }
            },
            "ItemReader": {
                "Resource": "arn:aws:states:::s3:getObject",
                "ReaderConfig": {
                    "InputType": "JSON"
                },
                "Parameters": {
                    "Bucket": "${prefix}-json",
                    "Key": "reaches.json"
                }
            },
            "Label": "validationConstrained",
            "Next": "Output Choice"
        },
        "Validation Unconstrained": {
            "Type": "Map",
            "OutputPath": "$",
            "ResultPath": "$.validation_unconstrained",
            "ItemSelector": {
                "context_index.$": "$$.Map.Item.Index",
                "context_value.$": "$$.Map.Item.Value",
                "version.$": "$.version"
            },
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "DISTRIBUTED",
                    "ExecutionType": "STANDARD"
                },
                "StartAt": "Batch SubmitJob Validation Unconstrained",
                "States": {
                    "Batch SubmitJob Validation Unconstrained": {
                        "Type": "Task",
                        "ResultSelector": {
                            "container_command.$": "$.Container.Command",
                            "log_stream.$": "$.Container.LogStreamName",
                            "job_name.$": "$.JobName",
                            "job_id.$": "$.JobId",
                            "created_at.$": "$.CreatedAt",
                            "started_at.$": "$.StartedAt",
                            "stopped_at.$": "$.StoppedAt"
                        },
                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                        "Parameters": {
                            "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-validation",
                            "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-validation",
                            "PropagateTags": true,
                            "Tags": {
                                "job.$": "States.Format('confluence-validation-unconstrained-{}-{}',$.Items[0].version, $.Items[0].context_value.reach_id)"
                            },
                            "ContainerOverrides": {
                                "Command": [
                                    "reaches.json",
                                    "constrained",
                                    "Ref::index"
                                ]
                            },
                            "JobName.$": "States.Format('confluence-validation-unconstrained-{}-{}',$.Items[0].version, $.Items[0].context_value.reach_id)",
                            "Parameters": {
                                "index.$": "States.Format('{}',$.Items[0].context_index)"
                            }
                        },
                        "End": true
                    }
                }
            },
            "ItemReader": {
                "Resource": "arn:aws:states:::s3:getObject",
                "ReaderConfig": {
                    "InputType": "JSON"
                },
                "Parameters": {
                    "Bucket": "${prefix}-json",
                    "Key": "reaches.json"
                }
            },
            "Label": "validationUnconstrained",
            "Next": "Output Choice"
        },
        "Output Choice": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.run_type",
                    "StringEquals": "constrained",
                    "Next": "Output Constrained"
                },
                {
                    "Variable": "$.run_type",
                    "StringEquals": "unconstrained",
                    "Next": "Output Unconstrained"
                }
            ]
        },
        "Output Constrained": {
            "Type": "Map",
            "OutputPath": "$",
            "ResultPath": "$.output_constrained",
            "ItemSelector": {
                "context_index.$": "$$.Map.Item.Index",
                "context_value.$": "$$.Map.Item.Value",
                "version.$": "$.version"
            },
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "DISTRIBUTED",
                    "ExecutionType": "STANDARD"
                },
                "StartAt": "Batch SubmitJob Output Constrained",
                "States": {
                    "Batch SubmitJob Output Constrained": {
                        "Type": "Task",
                        "ResultSelector": {
                            "container_command.$": "$.Container.Command",
                            "log_stream.$": "$.Container.LogStreamName",
                            "job_name.$": "$.JobName",
                            "job_id.$": "$.JobId",
                            "created_at.$": "$.CreatedAt",
                            "started_at.$": "$.StartedAt",
                            "stopped_at.$": "$.StoppedAt"
                        },
                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                        "Parameters": {
                            "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-output",
                            "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-output",
                            "PropagateTags": true,
                            "Tags": {
                                "job.$": "States.Format('confluence-output-constrained-{}-{}',$.Items[0].version, $.Items[0].context_index)"
                            },
                            "ContainerOverrides": {
                                "Command": [
                                    "-i",
                                    "Ref::index",
                                    "-c",
                                    "continent.json",
                                    "-r",
                                    "constrained",
                                    "-s",
                                    "Ref::sos_bucket",
                                    "-m",
                                    "priors",
                                    "hivdi",
                                    "metroman",
                                    "moi",
                                    "momma",
                                    "neobam",
                                    "offline",
                                    "postdiagnostics",
                                    "prediagnostics",
                                    "sad",
                                    "sic4dvar",
                                    "swot",
                                    "validation"
                                ]
                            },
                            "JobName.$": "States.Format('confluence-output-constrained-{}-{}',$.Items[0].version, $.Items[0].context_index)",
                            "Parameters": {
                                "index.$": "States.Format('{}',$.Items[0].context_index)",
                                "sos_bucket": "${prefix}-sos"
                            }
                        },
                        "End": true
                    }
                }
            },
            "ItemReader": {
                "Resource": "arn:aws:states:::s3:getObject",
                "ReaderConfig": {
                    "InputType": "JSON"
                },
                "Parameters": {
                    "Bucket": "${prefix}-json",
                    "Key": "continent.json"
                }
            },
            "Label": "outputConstrained",
            "Next": "Successful Run"
        },
        "Output Unconstrained": {
            "Type": "Map",
            "OutputPath": "$",
            "ResultPath": "$.output_unconstrained",
            "ItemSelector": {
                "context_index.$": "$$.Map.Item.Index",
                "context_value.$": "$$.Map.Item.Value",
                "version.$": "$.version"
            },
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "DISTRIBUTED",
                    "ExecutionType": "STANDARD"
                },
                "StartAt": "Batch SubmitJob Output Unconstrained",
                "States": {
                    "Batch SubmitJob Output Unconstrained": {
                        "Type": "Task",
                        "ResultSelector": {
                            "container_command.$": "$.Container.Command",
                            "log_stream.$": "$.Container.LogStreamName",
                            "job_name.$": "$.JobName",
                            "job_id.$": "$.JobId",
                            "created_at.$": "$.CreatedAt",
                            "started_at.$": "$.StartedAt",
                            "stopped_at.$": "$.StoppedAt"
                        },
                        "Resource": "arn:aws:states:::batch:submitJob.sync",
                        "Parameters": {
                            "JobDefinition": "arn:aws:batch:${aws_region}:${account_id}:job-definition/${prefix}-output",
                            "JobQueue": "arn:aws:batch:${aws_region}:${account_id}:job-queue/${prefix}-output",
                            "PropagateTags": true,
                            "Tags": {
                                "job.$": "States.Format('confluence-output-unconstrained-{}-{}',$.Items[0].version, $.Items[0].context_index)"
                            },
                            "ContainerOverrides": {
                                "Command": [
                                    "-i",
                                    "Ref::index",
                                    "-c",
                                    "continent.json",
                                    "-r",
                                    "constrained",
                                    "-m",
                                    "priors",
                                    "hivdi",
                                    "metroman",
                                    "moi",
                                    "momma",
                                    "neobam",
                                    "offline",
                                    "postdiagnostics",
                                    "prediagnostics",
                                    "sad",
                                    "sic4dvar",
                                    "swot",
                                    "validation"
                                ]
                            },
                            "JobName.$": "States.Format('confluence-output-unconstrained-{}-{}',$.Items[0].version, $.Items[0].context_index)",
                            "Parameters": {
                                "index.$": "States.Format('{}',$.Items[0].context_index)"
                            }
                        },
                        "End": true
                    }
                }
            },
            "ItemReader": {
                "Resource": "arn:aws:states:::s3:getObject",
                "ReaderConfig": {
                    "InputType": "JSON"
                },
                "Parameters": {
                    "Bucket": "${prefix}-json",
                    "Key": "continent.json"
                }
            },
            "Label": "outputUnconstrained",
            "Next": "Successful Run"
        },
        "Successful Run": {
            "Type": "Succeed"
        }
    }
}